[2014-12-09 01:01] mchandschuh opened #1 "Error with post with code in it"
If you check out the website at:

https://www.quantconnect.com/forum/discussion/369/auto-updating-indicators#

You'll see that there's some code at the top. On first glance it looks like we're not properly escaping something.

This was reproduced in Firefox and Chrome, seems to be an HTML issue, not a browser issue.

[2014-12-09 15:56] #1 closed, assigned to nobody

[2015-01-12 17:44] jaredbroad opened #2 "Create ADX Indicator"
Create an "AverageDirectionalIndex" indicator class and the associated "ADX" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the ADX values match up with the data provided in Tests/TestData/spy_with_adx.txt file.

[2015-01-12 17:53] jaredbroad opened #3 "[Feature] Create Bollinger Bands Indicator"
Create an "BollingerBand" indicator class and the associated "BB" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the Bollinger Bands match up with the data provided in Tests/TestData/spy_bollinger_bands.txt file.

[2015-01-12 18:01] jaredbroad opened #4 "Create Parabolic SAR Indicator"
Create an "ParabolicSAR" indicator class and the associated "SAR" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the Parabolic SAR values match up with the data provided in Tests/TestData/spy_parabolic_SAR.txt file.

[2015-01-12 18:04] jaredbroad opened #5 "[Feature] Create ATR Indicator"
Create an "AverageTrueRange" indicator class and the associated "ATR" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the Average True Range values match up with the data provided in Tests/TestData/spy_atr.txt file.

[2015-01-12 18:09] jaredbroad opened #6 "[Feature] Create MFI Indicator"
Create an "MoneyFlowIndex" indicator class and the associated "MFI" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the Money Flow Index values match up with the data provided in Tests/TestData/spy_mfi.txt file.

[2015-01-12 18:15] jaredbroad opened #7 "[Feature] Create CCI Indicator"
Create an "CommodityChannelIndex" indicator class and the associated "ATR" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the Commodity Channel Index values match up with the data provided in /Tests/TestData/spy_with_cci.txt file.

[2015-01-13 03:21] jaredbroad commented on #5
@mchandschuh contributed ATR

[2015-01-13 03:21] #5 closed

[2015-01-13 13:52] xenu256 opened #10 "[Bug] MSVSMON.EXE"
Unable to start Lean.Engine.exe as: see image

![bug](https://cloud.githubusercontent.com/assets/7689499/5721553/baab6fd6-9b3b-11e4-8c47-53196010ff56.png)

[2015-01-13 14:04] jaredbroad commented on #10
Strange; what Visual Studio/Windows version are you running? Can you create a new solution with a basic Hello World console application and try running that?

[2015-01-13 15:07] xenu256 commented on #10
Uhm, yep, does not run, it's Community VS, installed it today.

[2015-01-13 15:10] jaredbroad commented on #10
Local issue with VS Installation

[2015-01-13 15:10] #10 closed

[2015-01-14 12:29] jaredbroad opened #11 "[Bug] OnEndOfDay Event Doesn't Trigger with Daily Data"
OnEndOfDay uses the backtesting realtime event handler to fire callbacks. It takes in the current time from the data feed and when its less than 10 minutes from close fires the event.

Because its using the time-stream with daily data the event never gets called, and the next day just resets the events so it gets forgotten.

To fix; before resetting with the next day data; check if any un-triggere

[2015-01-15 12:54] jaredbroad opened #12 "Handle more cases in ResolveConsolidator"
Make an indicator consolidator for when the data is custom, but extends a TradeBar (so still has OHLC).

Update the ResolveConsolidator in QCAlgorithm to accept/search for this Custom : TradeBar data

[2015-01-15 12:58] jaredbroad opened #13 "Make a Custom Data Consolidator Which Used Time-Value Only as FallBack"
If ResolveConsolidator has no matching consolidator found which better suits the data type provided, use a BaseData consolidator which used only Time-Value which will be provided by the custom data itself.

This way indicators can be universally applied to any data types which implement BaseData.

[2015-01-15 20:00] xenu256 opened #14 "Metatrader 4 Data via MT4 SDK"
I found open source C# API for Metatrader 4 at Codeplex, didn't tested yet if it works, but this is good way to get free live data from various brokers on FX, CFDs, some major stocks (all minute level, ticks need to be collected live), and also have implementation of all brokers who support MT4.

Here: https://tradeplatform.codeplex.com/

[2015-01-16 13:19] jaredbroad commented on #14
Sounds interesting, it wouldn't be too much work if you dig into the way the data feeds work -- take the MT4 data you need and push it into the bridges.

[2015-01-18 13:56] xenu256 opened #15 "Build err"
Trying to build on fresh Win8 Visual Stduio 2013 Commuity, exception at QuantConnect.Extensions/Extensions.cs

System.ArgumentException was unhandled
  HResult=-2147024809
  Message=Unable to locate any exports matching the requested typeName: QuantConnect.Messaging.Messaging
Parameter name: typeName
  Source=QuantConnect.Common
  ParamName=typeName
  StackTrace:
       at QuantConnect.Extensions.

[2015-01-18 14:08] mchandschuh commented on #15
This is not a build error, but a runtime error.  It looks like you need to clean (delete all files) in your extensions directory (in  engine project).

This error is typically caused by mismatched dlls when we go to runtime load some components, in this case the IMessaging implementation.

Also do a full clean of your visual studio solution (right click on solution in solution Explorer and click c

[2015-01-18 15:09] xenu256 commented on #15
Oh, forgoy Windows adds various junk to folders. All works.

[2015-01-18 15:09] #15 closed

[2015-01-21 16:10] clanghir opened #16 "[Bug] Proxy server not supported"
If you use the engine behind a proxy server you could get into trouble (if you work with custom data and during statistics generation). To solve that I recommend to set the Proxy property of WebClient instances always to WebRequest.GetSystemWebProxy().

Example (SubscriptionDataReader.cs):

using (var client = new WebClient())
                            {
                                client.Pr

[2015-01-24 22:07] jilott opened #18 "Problem with MovingAverageCross example."
I'm trying to explore the examples and have found some problem exists with the MovingAverageCross. I'm a little new to C$#, so the solution is not obvious to me. Hopefully, someone can work it out. Here is the error:

ERROR:: ConsoleSetupHandler().Setup(): Type mismatch found between consolidator and indicator for symbol: SPY.Consolidator outputs type TradeBar but indicator expects input type indi

[2015-01-25 00:57] #18 closed

[2015-01-25 00:59] mchandschuh commented on #18
Thanks for finding this @jilott !!

[2015-01-26 13:21] jaredbroad commented on #14
We re-factored the way the brokerage classes were implemented last night to give more separation between the transaction handlers and the brokerage implementation. It should now be feasible to implement a new brokerage completely independent of the rest of QC. Hopefully this will make brokerage additions easier.

[2015-01-30 22:25] mourednik commented on #3
I'm working on this now. I will also create a StandardDeviation indicator to be used by the BollingerBand indicator.

[2015-01-30 23:05] mchandschuh commented on #3
Wonderful! You'll be the first indicator contributor.

I couldn't agree more that making a StandardDeviation indicator is the way to go, and then using that in the BollingerBand indicator. Let me know if you have any questions about the design of the indicator system or anything else in Lean! Thanks!!

[2015-01-30 23:12] mourednik commented on #3
Thanks. So far, everything looks very sensible. I'll let you know if there's anything questionable.

[2015-01-31 03:33] mourednik commented on #3
@jaredbroad @mchandschuh
There is a problem with the test data.

spy_bollinger_bands.txt is missing the initial 50 rows, assuming that the moving average is a 50 period SMA. We need those 50 rows to initialize the SMA so that it matches the CSV. Are you able to easily generate a new CSV from somewhere?

Also, I added the en-US date format so that it can parse the CSV dates. That fixed two other fa

[2015-01-31 12:02] mourednik opened #19 "Add OANDA Brokerage"
OANDA has a REST API with reference implementation in C#
https://github.com/oanda/rest-csharp-refimpl/
I would like to implement this feature. I will study it over the next few days.

[2015-01-31 20:53] mchandschuh commented on #3
b78398c updates the bollinger band data to be correct. The Bollinger Band (20, 2) uses a 20 period moving average and +- 2 standard deviations (also computed from 20 periods) from the mean for the upper and lower bands respectively.  This data is generated using the FreeStockCharts.com desktop silverlight application's 'Export Chart' feature.

Thanks for fixing those tests! They were passing in Tr

[2015-01-31 22:39] mchandschuh commented on #19
Sounds great. The IBrokerage interface is fairly new and still may be in flux. If you have any questions let me know.

[2015-02-01 19:04] mourednik commented on #3
Thanks. Pull request submitted.

[2015-02-02 19:29] jaredbroad opened #21 "History Retrieval"
Implement a system for retrieving historical data as an array. The QCAlgorithm helper methods should match the interface below:

Get all data from start to end; for specified symbol:
`IEnumerable<BaseData> History(string symbol, DateTime start, DateTime end);`

Overload: Get all data from *now* back a timspan period for symbol and return it as an enumerable list:
`IEnumerable<BaseData> History(str

[2015-02-02 19:33] jaredbroad commented on #16
Thank you @clanghir, will look at updating it soon.

[2015-02-02 20:36] jaredbroad commented on #3
Closed by commit #1d912765, +5 kudos to @mourednik

[2015-02-02 20:36] #3 closed

[2015-02-06 19:59] jaredbroad opened #22 "[Feature] Notify API"
Create class for notifying the algorithm owner of significant events via email, sms or web hooks.

Build as property in base class QCAlgorithm and store the objects in same pattern as Logs and Debug.

Usage would fit the following API inside the algorithm:

algorithm.Notify.Email(string toAddress, string message, string ccAddress = "", string data = "");
algorithm.Notify.Sms(string toNumber, strin

[2015-02-07 21:11] #22 closed

[2015-02-09 14:26] xenu256 opened #23 "Renko Tradebars"
Used to make price action (time eliminated) bars to make more better trends.

[2015-02-09 14:30] jaredbroad commented on #23
In what sense @xenu256? Guess doesn't apply to equity so it would be firing TradeBar events to OnData based on price movement?

[2015-02-09 14:50] xenu256 commented on #23
Can be applied to everything as it is same TradeBar, just with same range, made from ticks, so basically, just consolidator is needed (each bar would have different start time), then those bars can be feed into OnData as usual.

[2015-02-12 18:46] cub- opened #24 "[Bug] Some references are missing"
Hi Jared,
In QC.Lean.Engine, some references such as "Fasterflect" and "RestSharp" are missing. Couldn't find them in the directory. Please help.
Cub
![default](https://cloud.githubusercontent.com/assets/8294465/6174548/725479dc-b2bd-11e4-9ffe-9abd1860de8d.png)

[2015-02-12 19:30] jaredbroad commented on #24
Hi @cub-, these should be automatically downloaded by Nuget --
If you don't have Nuget you can download it here: https://nuget.codeplex.com/releases/view/133091

[2015-02-12 19:30] #24 closed

[2015-02-12 19:41] cub- commented on #24
It worked after I upgraded nuget from VS. Thank you.

[2015-02-13 02:59] jilott commented on #19
@mourednik Have you made any progress on this? I'd probably be interested in helping, I've done some work with the Oanda API using Python. I'm pretty new to C# though.

[2015-02-13 03:01] mourednik commented on #19
@jilott I haven't. Unfortunately I don't think I will have time to work on this in the next few weeks.

[2015-02-13 03:02] jilott commented on #19
Well, it may be a race then.
On Feb 12, 2015 9:01 PM, "Michael Ourednik" <notifications@github.com>
wrote:

[2015-02-13 03:03] mourednik commented on #19
Please go for it. If I do start working on it I will check with you first.

[2015-02-13 20:52] jaredbroad commented on #19
Awesome guys. I wrote a few more tutorials on how to do this today which I'll push soon.

There is one change we will make in the next few days - a BrokerageSetupHandler. This would allow an implementation of a IBrokerage to more or less setup an algorithm. At the moment the setup process isn't very generic and we don't have the IBrokerage SetupHandler committed.

Best would be to focus efforts on

[2015-02-17 19:41] gustavarcticmill opened #25 "Convert.ToDecimal culture issue"
I didn't manage to run the project after a git clone. It complained that the format was invalid. The problem seems to be that the data files are formatted with a dot as number separator, but my culture settings (Swedish) and hence Convert.ToDecimal expects a comma.

If I change the Convert.ToDecimal's that handle csv-split arrays, into:
Convert.ToDecimal(csv[0], new CultureInfo("en-US"))
everythin

[2015-02-17 22:22] jaredbroad commented on #25
Thanks for reporting @gustavarcticmill! If possible please submit a pull request by forking the repo, making the change in your account, and then submitting a request here :) This way we'll automatically merge in your change and it'll be easy for anything you find in the future too!

[2015-02-18 03:18] #16 closed

[2015-02-18 03:18] #25 closed

[2015-02-18 19:49] #11 closed

[2015-02-21 19:06] jaredbroad opened #30 "Create StatisticsResults Class, Refactor Statistics Class"
Refactor the Statistics class to be an instance driven, with a constructor which takes the required information and creates an instance of Statistics.

Statistics object should define all the currently generated statistics as public properties and include description parameters for the English text.

Benchmark should be separated out and implement an IBenchmark; be generated & cached in a local fi

[2015-02-21 21:08] jaredbroad opened #31 "Implement Margin Call on Leveraged Assets Which Fall in Value"
When leveraged asset value falls below 25% of capital, or $25k (whichever is greater), call the liquidate function on the algorithm. https://www.interactivebrokers.com/en/?f=margin

Currently this isn't done and its possible to for portfolio to drop below zero when highly leveraged and asset is volatile.

[2015-02-21 21:11] jaredbroad opened #32 "[Feature] Model Interest Paid on Leveraged Assets"
Leverage is currently free in LEAN. Implement a system for deducting interest charges from cash when holding leveraged stock overnight. Apply a default interest rate of 1.5% on the leveraged fraction of holdings. Potentially best place is to apply cash charge on day change in AlgorithmManager data loop.

[2015-02-22 00:02] jaredbroad opened #33 "[Feature] Stop-Limit Order Types"
Add Stop Limit order type to LEAN

1) Extend the order type enum to add the new type.
2) Add new default fill methods to SecurityTransactionModel, EquityTransactionModel and ForexTransactionModel. High chance only need to implement the base type (SecurityTransactionModel) and the others can just use that.
3) Create helper methods in QCAlgorithm.Transactions.cs which return the order id of the newl

[2015-02-22 16:01] jaredbroad commented on #33
Tradier brokerage confirms the orders are rejected if you don't have enough cash to fill them at *placement* time - this is because they are submitted to the exchange and on record as a real-offer (which must be backed by cash).

So the Order method in QC.Transactions.cs can be used to perform pre-submission checks. This will keep all the negative order id's in one place.

Tradier disallows cash w

[2015-02-22 19:46] jilott commented on #33
@jaredbroad, are you thinking this should be implemented as stop order that gets converted to a limit order when triggered? The alternative is to add a new field to the Order class to hold the stop(or limit) price and to simply create a fill method which combines the logic of the existing stop and limit order methods.

Personally, I think I like the idea of the stop order triggering and becoming a

[2015-02-22 20:50] jilott commented on #33
I'm digging into the transaction models and I'm not sure I understand why the order price is modified by the fill methods. It seems like the order price should never change because you get a fill at some price which may or may not be different from the order that was placed(slippage). In the code as it stands now, the fill price and order price seem to end up being equal. Can anyone comment on thi

[2015-02-22 22:23] jaredbroad commented on #33
Hey @jilott - this was because I was trying to cram limit and market orders into the same object; which was [bad but] OK for backtesting; but not with live trading. Now we'll do it properly:

I've brain stormed it with @mchandschuh and we think the best way would be to define new order types which extend from the Order object. From now on the base "Price" will be the *fill price*.

The new types w

[2015-02-23 00:33] jilott commented on #33
That sounds good. I was thinking that some refactoring was probably going to be needed to come up with a good solution. Once the more significant changes have been committed, I should be able to do up a StopLimit order.

[2015-02-23 18:52] jaredbroad commented on #33
Committed new order type pattern & dedicated classes with latest commits #73c73a5f4e7a18f5f16df876afd0a03b24d36f81,

[2015-02-25 04:05] mchandschuh commented on #7
great code!! thanks for the effort!!

[2015-02-25 04:13] mattmast commented on #7
Thanks! I didn't realize my push would end up here with referencing the issue.  Still new to github and contributing and what not.

[2015-02-25 15:38] jaredbroad opened #34 "Live - Don't Round Holdings Price"
Holdings price in Live is rounded to 2dp in view, but not in data.

oResults: {
    "Charts": {},
    Holdings: {
      EURUSD: {
        Symbol: "EURUSD",
        AveragePrice: 1.1349713496,
        Quantity: 1101421,
        MarketPrice: 1.13538
      }
    },
    "Orders": {},

[2015-02-25 22:13] #34 closed

[2015-02-25 22:23] jaredbroad commented on #21
Feedback from a user: This is better implemented in a "Warm Up" style -- where the user actually requests a fixed period of data before the start date and the algorithm automatically warms up / pre-populates all the arrays as it normally would.

This makes the warm up process inline with normal algorithm code: e.g.
[code]

With this example data would be pumped in from Dec 15th, but orders would o

[2015-02-26 05:09] mattmast commented on #7
Hi Jared,
Where was the data exported from for the spy_with_cci.txt file?  I'm getting slightly different results in the 3rd or 4th decimal places.

[2015-02-27 04:30] mchandschuh commented on #7
We export the data using http://www.freestockcharts.com/'s export chart data feature.

I wouldn't worry about that level of error. You can submit the pull request and Jared or I will take a peek.

[2015-02-27 05:05] jaredbroad opened #35 "Create TradeBars Consolidator (Multiple Symbol Indicators)"
Create a consolidator which can pipe multiple data symbols into an indicator. It would send a IDictionary<string, BaseData> into the indicator which would support custom and tradebar data.

(TradeBars object is a IDictionary<string, TradeBar> which could extend from the generic base data version)

[2015-02-27 21:15] #33 closed

[2015-02-28 00:27] jilott commented on #33
Well @jaredbroad it looks like you beat me to it. I really wanted to work on this but my day job kept me busy most nights this week.

[2015-02-28 14:19] jaredbroad commented on #33
No worries @jilott - there are plenty more to do! I wanted to do one to make sure it was possible. In the process I found there were a few helper methods and system wide changes needed to make it possible.

We can start with this list: https://www.interactivebrokers.com/en/index.php?f=4985 Popular ones would probably be Market on Open,Close, Limit on Open, Close, One Cancels All, Trailing Stop

No

[2015-03-01 04:31] mchandschuh opened #38 "Update ATR to expose internal indicators"
When an indicator requires the use of other indicators in order to do its calculation, it is often useful to expose these 'sub' indicators as public get/private set properties.  This allows them to be used in composition if desired.

Update the AverageTrueRange indicator to expose it's internal _smoother (rename?) so consumers can bind to it. Also consider defining an indicator to expose the true

[2015-03-01 18:06] mattmast commented on #6
Now that I got the CCI done, I'm start working on this one.

[2015-03-01 18:09] jaredbroad commented on #6
Legend @mattmast! The CCI looks great! We're going to deploy to beta today and run some tests and then push CCI live Monday :)

[2015-03-01 18:14] jaredbroad commented on #7
Close with #7f340a56dd299a6233427d73d6231fc7520419aa

[2015-03-01 18:14] #7 closed

[2015-03-01 23:45] jaredbroad opened #39 "Market On Open, Market On Close Order Types"
Add market on open and market on close order type.

1) Specific Order Classes in the /Common/Orders folder, and added OrderTypes to the enum

2) Add the default fill models for each order type (one method each). Update the Interface and implement the default fill models in SecurityTransactionModels.cs. Ensure to check the validity of the order in the fill model.

3) Map the OrderType to its fill m

[2015-03-03 19:06] jaredbroad opened #40 "Custom Benchmark"
Add the ability to use a custom benchmark, or at least any symbol from yahoo.  Steps:

1) Add helper method SetBenchmark(string symbol) which takes the Yahoo symbol,
2) Save the symbol to a public "string Benchmark" property,
3) Update IAlgorithm to include new Benchmark property.
3) Use this symbol when downloading the benchmark data from Yahoo in the Statistics class.

[2015-03-05 02:53] mattmast commented on #6
I'm am starting to test out the MFI indicator and noticed through some debugging the factor files.  I was wondering what is the purpose of the factor files in the Data directory?

[2015-03-05 03:09] jaredbroad commented on #6
Over time stocks sometimes split, and pay dividends to the equity holders. There are two ways of modelling this behavior in the market; 1) by increasing holdings, and paying the dividends to your account, or 2) by adjusting the price of the asset so historically its a smooth continuous line. Lean currently uses the second method - scaling the price of the assets backwards as needed. Potentially we

[2015-03-06 00:47] QANTau opened #41 "Algorithm never completes when using external data"
I have created custom data sets for Lean based on the same forex data format, but using data from an external source. Data is 1min and each file has been broken into 1 day from 00:00 through 23:59, and zipped. File formatting and naming is the same (other than the inclusion of volume in my data).

Sample data files are available [here](https://www.dropbox.com/s/z07czdngfw44l57/AUDUSD_sample.zip?dl

[2015-03-06 00:57] QANTau commented on #32
When looking at this feature, would it be possible to consider the calculation of swap for FX transactions also.  It would be nice to be able to specify a 'Calculation Time' that would fire an event where the calculation could be performed.

The default event code could calculate a 1.5% default rate, but could be overridden to perform custom calculation (in the case of FX swap, we could probably l

[2015-03-06 05:45] mattmast commented on #6
That makes sense.

I'm pretty close on getting the MFI done. Here's a diff if you want to start taking a look.  I cleaned up a few other things and looking forward to any feedback.  I still want to clean up some minor things and add some more tests.

https://github.com/mattmast/Lean/compare/master...mattmast:indicators/mfi-indicator

[2015-03-06 23:26] jaredbroad commented on #32
Great feedback thanks @QANTau. We will factor this into the design of the leverage fee calculations. Its probably best done in the transaction models class however it has some similarities to the Benchmark system.

One way to help would be starting with the source of the swap rate data, and how to import it into LEAN. It might be nice if this was standardized/similar to the way benchmark loads in

[2015-03-08 18:48] mchandschuh opened #43 "Review usage of Reset in indicator implementations"
Several indicators don't seem to properly implement the Reset() function. Review each indicator and verify a test exists for the Reset() feature.

[2015-03-08 19:55] #38 closed

[2015-03-08 20:10] mchandschuh commented on #6
Started messing around with markdown:

#### General comments
Overall I think the code looks great.  Thanks for patching up a few things too!  I've added an issue to check other indicators for Reset and add tests for each Reset.

You'll want to merge in the latest as there are some changes to the CompositeIndicator which now work on a push system (events from the Left and Right) vs the previous exp

[2015-03-11 01:02] #6 closed

[2015-03-11 19:40] jaredbroad opened #46 "Create On Balance Volume Indicator"
Create an "OnBalanceVolume" indicator class and the associated "OBV" helper method in the QCAlgorithm base class. See introduction to indicators https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the OBV values match up with the data provided in Tests/TestData/spy_with_obv.txt file.

[2015-03-11 19:45] jaredbroad opened #47 "Create Donchian Price Channels Indicator"
Create Donchian Price Channels Indicator configurable for n-periods, http://en.wikipedia.org/wiki/Donchian_channel

Add the associated tests to Tests project under /Indicators to confirm the DON values match up with the data provided in Tests/TestData/spy_with_don50.txt file.

Could use the max-min sub indicators for the given window.

[2015-03-11 20:00] jaredbroad opened #48 "Create Williams % R Indicator"
Create the Williams % R Indicator (http://en.wikipedia.org/wiki/Williams_%25R), and the associated "WILR" helper method in the QCAlgorithm base class. See introduction to indicators - https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the WILR values match up with the data provided in Tests/TestData/spy_with_williamsR14.txt file.

[2015-03-11 20:10] jaredbroad opened #49 "Create Rate of Change Indicator, Rate of Change Percent"
Create a Rate of Change indicator and associated ROC and associated helper method QCAlgorithm base class. See introduction to indicators https://lean.quantconnect.com/docs#topic9.html

More information on the ROC indicator.
 - http://www.investopedia.com/terms/p/pricerateofchange.asp
 - http://research.scottrade.com/knowledgecenter/Public/education/Article?docid=8813a3b19ac04f2fbcad244836a5e43c

T

[2015-03-11 20:19] jaredbroad opened #50 "Create Stochastic Indicator (STOCH)"
Create a Stochastic indicator and associated STOCH helper method QCAlgorithm base class. See introduction to indicators https://lean.quantconnect.com/docs#topic9.html

Add the associated tests to Tests project under /Indicators to confirm the STOCH values match up with the data provided in Tests/TestData/spy_with_stoch12k3.txt file

[2015-03-11 20:28] jaredbroad opened #51 "Add Interactive Brokers Brokerage Model"

[2015-03-11 22:16] #41 closed

[2015-03-11 22:37] jaredbroad commented on #41
Thanks @QANTau, the WaitForData method now includes a check if the data is all loaded. This prevents it sleeping forever when the DataStream is caught up with the DataFeed

[2015-03-12 18:52] jaredbroad opened #53 "Test Helper to Run Example Algorithms"
Create test helper which runs through all example algorithms included in Lean. As we add new features write an example algorithm for each feature. The test helper will make sure the full system continues to work going forward.

[2015-03-12 21:05] ammachado opened #54 "Use a more robust logging solution"
I am not aware of the infrastructure that runs, but to me it seems that a more robust logging solution, i.e. log4net or NLog would be a nice to have feature for the engine.

Any thoughts?

[2015-03-12 23:30] jaredbroad commented on #54
That would be great; perhaps to kick it off you could implement a log4net/nlog which matches the ILogHandler and submit it? @bdilber defined this interface so people could add their own logging systems: https://github.com/QuantConnect/Lean/blob/master/Logging/ILogHandler.cs

[2015-03-13 05:10] mchandschuh commented on #12
We need to support consolidation of BaseData (time-value pairs), dynamic trade bar data (such as Quandl) with and without volume, and also tick consolidation.

[2015-03-13 19:14] jaredbroad opened #55 "Allow Setting Custom Value Column for Quandl Data"
Quandl data currently is fixed to look for the closed column. This could be made configurable to support a broader range of Quandl dynamic data.

[2015-03-13 19:15] #55 closed

[2015-03-13 19:29] jaredbroad opened #56 "Delisting Event / Data Events"
Create an "OnDelisting" event in the QCAlgorithm class which is called when a symbol is to be delisted.

This should be triggered in the Algorithm Manager(?) from a feed.DataEvents queue which has generic status events on the data. The data event will include the subscription-id, symbol and relevant event types.

Before the OnData event, the DataEvents queue would be cleared (synchronously process

[2015-03-14 00:38] mchandschuh commented on #12
721ecf3 updates ResolveConsolidator to use TickConsolidator and BaseDataConsolidator. DynamicDataConsolidator coming soon to a QC near you!

[2015-03-15 00:48] mchandschuh commented on #12
ef04c41 adds the DynamicDataConsolidator

These changes should allow the indicators to work with any custom data.

[2015-03-15 00:48] #12 closed

[2015-03-15 20:33] #43 closed

[2015-03-21 16:09] mchandschuh commented on #23
I've started working on this and have an implementation that uses a new RenkoConsolidator to consolidate TradeBar data into RenkoBar data. I'll need to implement in a similar pattern as the TradeBarConsolidator, which now supports BaseData,DynamicData, Tick and TradeBar

[2015-03-28 21:40] mchandschuh commented on #23
The RenkoConsolidator class has been added. It allows you to define your renko bar size, as well as provides for value and volume selectors. A sample algorithm, RenkoConsolidatorAlgorithm, has also been added showing the usage.

[2015-03-28 21:40] #23 closed

[2015-03-31 19:00] mchandschuh commented on #13
This was handled with the addition of the BaseDataConsolidator for issue #12

[2015-03-31 19:00] #13 closed

[2015-04-07 00:20] bizcad commented on #56
I was just thinking about this problem.  It should be fired when the data feed breaks as well so that the algo could issue an OnLiquidate() and perhaps a quit, if the algo goes blind.

[2015-04-07 00:44] bizcad commented on #54
In the meantime, I have added
public class FileLogHandler : ILogHandler

which creates a log file in the  Assembly.GetExecutingAssembly().Location directory.

the algo replaces the ConsoleLogHandler when it starts with
QuantConnect.Logging.Log.LogHandler = (ILogHandler)new FileLogHandler();

a few messages still show up in the Console.  I can get you the source if you like.

Nick

[2015-04-07 02:31] bizcad opened #62 "Add commissions and fees to OrderEvent"
I am trying to get what amounts to a brokerage confirmation to be reported in my algo so I can compute the actual cost of the transaction/order.  Right now I am doing it through the OnOrderEvent method overriding the virtual QCAlgorithm event as follows.

[code]

This method is not very satisfactory because things like exchange fees may not be included in the  GetOrderFee method on the parent.  Th

[2015-04-07 15:23] mchandschuh commented on #54
The FileLogHandler has already been committed. See
https://github.com/QuantConnect/Lean/blob/master/Logging/FileLogHandler.cs

-Michael

On Mon, Apr 6, 2015 at 8:44 PM, Nicholas Stein <notifications@github.com>
wrote:

[2015-04-07 17:43] jaredbroad commented on #62
Awesome thank you Nick, we just made all the IB code public. If you'd like to see this sooner you could add a property to the OrderEvent object and populate its value when the order data is passed back from Interactive Brokers. This would be a nice tidy pull request :+1:

The OrderEvent is created here:
https://github.com/QuantConnect/Lean/blob/master/Brokerages/InteractiveBrokers/InteractiveBroke

[2015-04-07 18:11] bizcad commented on #54
Awesome Michael.  I am upgrading to the latest source now..  Your implementation is very similar to mine. I wish there was a way to have both logging to the console and to a file.  It would be convenient for capturing intermediate variables within an algo.

Nick

[2015-04-07 18:38] mchandschuh commented on #54
Great idea Nick!  I was actually implementing this today.  See ba9f2b4 just
pushed to master.

-Michael

On Tue, Apr 7, 2015 at 2:11 PM, Nicholas Stein <notifications@github.com>
wrote:

[2015-04-08 21:12] ammachado commented on #53
How that would happen? I mean, for each example algorithm the Engine.Main method would be called using the algorithm?  If not, can you guys provide some sample code on how to do it?

Another thing, how about move the example algorithms to its own DLL?

[2015-04-08 22:16] mchandschuh commented on #53
I think the spirit of this issue is to create a test runner capable of running a 'specific' algorithm. It shouldn't have to be in the /Examples folder.

I have considered moving the /Examples folder into its own dll, but currently we look for QuantConnect.Algorithm.dll, so changing what dll is to be loaded wouldn't be as trivial and would probably end up with requiring extra configuration (assembl

[2015-04-12 15:59] jaredbroad opened #64 "Add Adjustment PriceScaleFactor to Tick/TradeBar Objects"
Allow converting adjusted prices back to the raw price by adding a method and value for the conversion factor. Thanks @AlexCatarino

[2015-04-13 14:31] AlexCatarino commented on #64
If nobody is taking this assignment, I could do it.
Any suggestions on what the best solution would be?
I suggest we should add a private value _pricescalefactor that would store the last PriceScaleFactor that comes form SubscriptionDataConfig class internally and a method for the conversion "AdjustedToRaw" that could be called by the user at OnData or automatically on SetHolding.

[2015-04-13 21:48] jaredbroad commented on #64
Thank you Alex - if you help it will get done much faster! Agree on first half of implementation;
1>  _priceScaleFactor private variable in Tick and TradeBar objects; which is set on creation of the objects in the Reader() method.
2> Expose public property PriceScaleFactor in the Tick/TradeBar objects.

Just curious; why is the conversion method there? How will you use the raw prices? This will he

[2015-04-14 13:22] jaredbroad commented on #31
Fixed by commit #1f15eb2c0457cc825162e985a2906d86e9ce5fb6

[2015-04-14 13:22] #31 closed

[2015-04-14 13:36] AlexCatarino commented on #64
I proposed the conversion method instead of exposing the public PriceScaleFactor, so that calculations would be done inside the object. If you think it's better to expose the property and the user make the calculations (value = value / PriceScaleFactor) in his algorithm, fine.

Raw prices would be used for allocations and sending orders (as discussed here: https://www.quantconnect.com/forum/discus

[2015-04-14 13:54] jaredbroad commented on #51
Closed by commit #335e64cdcbf0b39c9c103f6566c158044841ac22

[2015-04-14 13:54] #51 closed

[2015-04-14 14:25] jaredbroad commented on #64
I see... Its not ideal to do it this way; I'd recommend this would be part of a broader update of the dividend and share split system. The algorithm and portfolio essentially has two modes -- adjusted or raw which goes deep into the portfolio / holdings models.

We can make a setting in the algorithm which controls the mode: so it will increase the quantity when the shares split instead of adjusti

[2015-04-14 14:56] AlexCatarino commented on #64
How do you do the factor files inside the factor_files folder? I thought you had the dividends and share split data and calculate the factor with the closing price around these events.
Anyway, do we wait for the dataset and talk about this implementation when we have it?

[2015-04-14 15:35] jaredbroad commented on #64
We have share split but not dividends (the cash dividend payments can't be reverse engineered from the price factor files). I think its a good idea to do this change but if the data isn't there we just can't pay the cash into the algorithm's account.

Steps:

DataNormalization.Raw, DataNormalization.Adjusted, DataNormalization.TotalReturn,

I think its safe for you to assume we have the dividend d

[2015-04-22 20:03] #50 closed

[2015-04-23 03:19] bizcad opened #69 "I cannot update my fork for a pull request"
I was able to fork Lean into my Github account.  I then cloned it into VS2013 Pro and cleaned up the XML missing comments.  I commited the changes to my local repo.  When I tried to push or sync the changes, I get...
An error occurred. Detailed message: Response status code does not indicate success: 403 (Forbidden).

When I look at pull requests, I can do a new PR and compare files, but they are

[2015-04-23 03:24] mchandschuh commented on #48
Merged in 16f291 via PR#67

Thanks @AlexCatarino!

[2015-04-23 03:24] #48 closed

[2015-04-23 03:34] mchandschuh commented on #69
This is typically caused by cloning the QuantConnect/Lean directly and then trying to push. You'll need to clone you're fork of the repo (https://github.com/bizcad/Lean.git) and then you'll be able to push into there. After you push into your github repo you'll be able to submit a pull request with your changes. Here's some documentation by github on the fork and pull model: https://help.github.co

[2015-04-23 03:50] mchandschuh commented on #49
Merged in 6bfc70.

Thanks @AlexCatarino for the awesome contribution!

[2015-04-23 03:50] #49 closed

[2015-04-23 04:24] jaredbroad opened #70 "Tests for Base Security Class (Security object)"
Security class is fundamental entity representing an asset object in Lean. For the long term future of Lean we need solid tests which cover this object to ensure future changes don't break current behavior.

Following test-driven-design we must break testing units into their smallest components. For Security we need to test each property and method, and that changes to its internals, then make sur

[2015-04-25 18:29] xenu256 commented on #14
I have reviewed it and think it's simpler and more flexible to implement this through MySQL datafeed rather than TradngPlatform SDK which is outdated and too heavy.

It would consist of two parts:
1. MT4/5_to_MySQL.
2. MySQL data feed on Lean engine.

I think I can do 1st. And for 2nd will try to understand how that works with subscriptions/bridges.

[2015-04-25 20:22] jaredbroad commented on #14
Hi @xenu256, we're simplifying the bridges now trying to spot the patterns and abstract them away. I've made a MySQL bridge as part of this initiative. You can see it here: https://github.com/QuantConnect/Lean/blob/master/Engine/DataFeeds/DatabaseDataFeed.cs

[2015-04-25 22:23] #69 closed

[2015-04-26 08:35] xenu256 commented on #14
Great, seems I have older version of Lean. Will explore how that works.

[2015-04-26 22:10] jaredbroad commented on #14
Super, recommend exploring the git API -- "git pull" will update your local
copy.

We added a lot since you first pulled; dividends, splits, different price
modes, live trading fixes and datafeeds!

On Sun, Apr 26, 2015 at 4:35 AM, Tadas Talaikis <notifications@github.com>
wrote:

--
Jared Broad

www.quantconnect.com
Phone-USA: +1 917 310 1082
*Democratizing Finance, Empowering Individuals*
Facebo

[2015-04-27 16:45] xenu256 commented on #14
OK, github autoupdates only official release, but whatever, I can download zip.

Will you need MT4 files included on Lean or keep it as separate repo? (because they'll be not related in anyway other than through MySQL database).

[2015-04-27 17:31] jaredbroad commented on #14
Thanks Tadas, for now please submit it as a pull request to Lean, and we'll
reorganize it all in a few weeks. The pull request should be for files like
this:

/DataFeeds/MT4DataFeed.cs
/DataFeeds/MT4/MT4Connector.cs .. Libraries for MT4 here.

I wouldn't recommend doing it through MySQL -- that greatly limit who can
use it. Its a little harder but worth building a dedicated IDataFeed
implementatio

[2015-04-27 18:55] xenu256 commented on #14
MT4 isn't reliable for frequent calls for data, it's why I've though it may be done through MySQL. But if you want it in C#, then I'll explore how that's done on TradePlatform.

[2015-04-28 08:34] xenu256 commented on #14
OK, in any case, I've done MT4toMySQL: https://github.com/xenu256/MT4toMySQL/tree/master and will see what to do next :)

[2015-04-29 13:29] #46 closed

[2015-04-29 21:15] bizcad opened #74 "Add a LinearWeightedMovingAverage Indicator"
I need a WMA for a Algo I am writing, so I have written a WMA.  This issue is so that I can make a branch and pull request to add the WMA to the project while tesing the contributor workflow.

When the WMA indicator is created, the user provides a period (an int) and optionally a name (a string).  The WeightedMovingAverage is derived from WindowIndicator<IndicatorDataPoint> as are most of the indi

[2015-04-29 22:50] mchandschuh commented on #74
Awesome idea Nick! If I could make a suggestion, I think we could define something a little more general. I'm envisioning a generic `WeightedAverageIndicator` which could be made up of two indicators, a `weight` and an `indicator`.  In this way we could define a volume weighted average price easily by using the volume as the weight and the price as the indicator to be weighted.  I'm thinking of sy

[2015-04-29 22:54] mchandschuh commented on #74
Also, we have a type called a `CompositeIndicator<T>` which combines two indicators to make a new one. If possible, we could derive from this type and get access to his goodies. He handles push updates, so in this way, if the `weight` changes or if the `indicator` changes, our new `WeightedAverage` will automatically compute his next value.

[2015-04-30 05:00] bizcad commented on #74
I also had thought of varying the weighting for other types of  weightings.  I had not thought of WVAP, and I like it.  I had considered a formula that would use weights other than linear, so the user could specify the weighting for each of the periods.  I will experiment with the composite tomorrow.

It might be better to not do too much in one indicator, but have a separate indicators that each

[2015-04-30 12:58] mchandschuh commented on #74
Nick, I now understand exactly what you're going for. I'll open up another issue for the generic `WeightedAverage` which is a different concept.  This is a great addition. I like the name [Linear Weighted Moving Average](http://www.marketoracle.co.uk/Article38383.html). Please also add an entry to the `MovingAverageType

[2015-04-30 13:03] mchandschuh opened #75 "Add a WeightedAverage Indicator"
Check out the discussion on the [LWMA issue](https://github.com/QuantConnect/Lean/issues/74) about weighted indicators and how it could be composed. This would allow things like VWAP to be easily defined.

[2015-05-01 19:21] bizcad commented on #74
I have
1.  changed the name to LinearWeightedMovingAverage,
2.  added the type,
3.  commited my branch and pushed to my origin
4.  fetched the upstream
I think I am ready to do the pull request.  I hope I did not mess anything up.

[2015-05-01 19:29] bizcad commented on #74
Oh shucks!  I just realized that I changed the Engine\config.json from BasicTemplateAlgorithm to IndicatorSuiteAlgorithm and I do not know what to do now.

[2015-05-01 20:31] mchandschuh commented on #74
You should be able to make a change and push it back the same way you did
before and the pull request *should* automatically update.  If it doesn't
auto-update don't worry about it, I can pull it down before I merge and
revert the change.

On Fri, May 1, 2015 at 3:29 PM, Nicholas Stein <notifications@github.com>
wrote:

[2015-05-01 21:19] bizcad commented on #74
I cannot seem to push to the origin.  I get the following message:
<code>
C:\Users\Nick\Documents\Visual Studio 2013\Projects\Lean>git push origin iss
4/Add-a-WMA-Indicator
Username for 'https://github.com': bizcad
Password for 'https://bizcad@github.com':
To https://github.com/bizcad/Lean.git
 ! [rejected]        issue-74/Add-a-WMA-Indicator -> issue-74/Add-a-WMA-Indi
r (non-fast-forward)
error:

[2015-05-01 21:55] mchandschuh commented on #74
Nick,

You'll need to use the following:

git fetch
git merge origin/master

If there are merge conflicts you'll need to resolve them. Here's some
related documentation:

http://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging

Also, I would recommend a mergetool. There's a free one called Meld.

http://meldmerge.org/

Configuring Meld with your local git:

http://stackoverflow.com

[2015-05-04 23:47] #74 closed

[2015-05-07 19:08] bizcad opened #79 "Change Sell Method to check for negative amounts"
The Sell methods all call the Order method, which in turn call the MarketOrder method.  The MarketOrder method creates a new MarketOrder type which derives from the Order type.  If the Quantity property is > 0 the OrderDirection is set to Buy and if the Quantity < 0, the OrderDirection is set to Sell.

So in an algo, when I called Sell(_symbol, 100m), QuantConnect executed a Market buy order.  Thi

[2015-05-09 14:50] jaredbroad commented on #79
Thanks @bizcad, good suggestion, please issue a pull request with the fix. You might want to use Math.Abs instead to reduce if branching :)

[2015-05-09 19:06] xenu256 opened #80 "Look-ahead bias using Quandl Close values along with TradeBars"
ex.,
Bought at 07/29/2014 09:30:00 with Quand time 07/29/2014 00:00:00
when actually it's Close/Settle value is end of day.

[2015-05-09 20:04] mchandschuh commented on #80
We just need to mark it as daily resolution, this should be done by default on the quandl ctor.

[2015-05-12 18:57] #80 closed

[2015-05-13 14:05] #79 closed

[2015-05-19 18:19] #2 closed

[2015-05-21 13:58] talaikis opened #83 "[Feature] Alpha / Beta / R-Squared / Correlation / Covariance indicators"
Rolling alpha/ beta indicators. Probably along with covariance and correlation. As part of flexible portfolio management ranks and relationships.

Alpha and beta are the most overlooked professional indicators in the so called popular "technical analysis".

[2015-05-21 15:34] gururise opened #84 "Support TA-lib"
The TA-Lib library has over 200 technical indicators.  It is also open source and supports c# (I think): http://ta-lib.org/

Could this library be integrated to allow for more indicators and technical analysis?

[2015-05-22 18:25] bizcad opened #85 "Add Fisher Transform indicator"
The Fisher transform is a mathematical process which is used to convert any data set to a modified data set whose Probability Distribution Function is approximately Gaussian.  Once the Fisher transform is computed, the transformed data can then be analyzed in terms of it's deviation from the mean.

The equation is y = .05 * ln [ 1 + x / 1 -x ] where
x is the input
y is the output
ln is the natural

[2015-05-26 19:52] mchandschuh commented on #4
Hey @AlexCatarino! Just wondering if there was any progress on this? If not, are you OK with me un-assigning you in case someone else wants to take a stab at it? Thanks!

[2015-05-26 20:31] AlexCatarino commented on #4
Please, do assign someone else, @mchandschuh!
I'm quite busy with delayed work right now and I don't want to hold the indicators coding back.

[2015-05-27 07:34] nii236 opened #87 "Add a PostgreSQL data feed module"
When I get some spare time I will be trying to reverse engineer what was done in the mySQL datafeed module and port it across to work with PostgreSQL, which is what I am familiar with and also prefer.

This issue is to prevent doubling up of work in case someone else is already working on it.

[2015-05-27 07:36] nii236 opened #88 "Add an Ichimoku indicator"
There has been talk of adding in TA-Lib integration, which is all well and good. In my spare time I'll be attempting to implement the ichimoku indicator which is what I use in graph based trading. With luck I'll be able to get it working in LEAN and do it all algorithmically.

[2015-05-31 16:07] mchandschuh opened #90 "TradeBarConsolidator should use rounded times"
Currently the TradeBarConsolidator (and derived types) use the input data times directly, so it's common to get a daily bar that starts at 9:31am for equities. We should modify this to start a midnight like daily data is typically marked. Ideally this could be implemented generically by rounding the 'Time' on each bar, so 15 minute bars would be on 00/15/30/45, hour bars always on 00, ect..

[2015-06-01 20:41] StefanoRaggi opened #91 "Add public property WorkingBar to TradeBarConsolidatorBase<T>"
Hi everyone,
I am evaluating Lean for my algo development and so far I like it very much.

In my first intraday algorithm I am using the TickConsolidator to build minute bars from tick data and I need to access the current bar (in progress) from the OnData(ticks) method.
Unfortunately the current consolidating bar is accessible only in the DataConsolidated event which is fired only at the end of t

[2015-06-02 21:28] jaredbroad commented on #91
Welcome @StefanoRaggi! Thank you for the suggestion, and I'm glad you're enjoying Lean!

That suggestion looks great; but perhaps the only caveat would be that it allows the user to modify the state of the working bar - and corrupt the potential output. Perhaps a better solution would be to return a clone of the working bar, making the Consolidator more robust.

Cloning a working bar is pretty sim

[2015-06-02 21:35] jaredbroad commented on #88
Thank you @nii236! Lets keep this issue for a Lean naitive implementation of the Ichimoku Indicator; and if you're keen please submit separate issue for TA Lib integration.

[2015-06-02 21:46] jaredbroad commented on #75
To clarify: this means an indicator building block which takes multiple components and finds the weighted average of them using supplied weights.

[code]

This should be an extension method which returns another indicator.

[2015-06-02 21:48] jaredbroad commented on #84
Thanks @gururise, TA Lib C# integration is definitely something we should implement!

We liked how deeply we could integrate custom built indicators, and how extensible we could make them. By writing the indicator from the ground up we could also make them faster and implemented with online techniques. Perhaps rolling our TA Lib can come in a few steps:

1. Basic support for TA Lib through C# Libr

[2015-06-02 22:04] StefanoRaggi commented on #91
I agree 100% with your suggestion to clone the bar, I only needed read access to it anyways.

I am currently working on the Consolidator (I found a bug in tick aggregation due to issue #90, so will fix both at the same time).

Thanks
Stefano

[2015-06-04 00:51] nii236 commented on #88
@jaredbroad: Of course, I wasn't clear in my original post. What I meant was TA Lib integration was being considered by TA Lib itself did not support ichimoku indicators. Hence this issue was made specifically for an ichimoku indicator.

[2015-06-04 14:58] #90 closed

[2015-06-04 14:58] #91 closed

[2015-06-04 15:35] mchandschuh commented on #64
DataNormalizationMode has been created. The scale factors still aren't on Tick/TradeBar instances though.

[2015-06-04 15:38] mchandschuh commented on #53
This has been implemented in the AlgorithmRunner class in QuantConnect.Tests project.

[2015-06-04 15:38] #53 closed

[2015-06-04 15:39] mchandschuh commented on #39
This was implemented in https://github.com/QuantConnect/Lean/commit/099cee9b3fd89ef30382712eb79130a09cb73206

[2015-06-04 15:39] #39 closed

[2015-06-04 15:40] mchandschuh commented on #35
The hard part here is that this consolidator will need to receive 'time' updates to know when to emit data since you can never be 100% sure you've received updates for all symbols.

[2015-06-04 23:52] #47 closed

[2015-06-06 22:35] jaredbroad opened #95 "Custom Chart Line Colors + Scatter Plot Symbols"
Make custom chart line colors configurable, and scatter plots accept custom symbols when creating the series object. https://github.com/QuantConnect/Lean/blob/master/Common/Charting.cs

Add a ScatterStyle enum; with the HighStock chart symbol object types.
Add a SeriesColor enum; with 20 default colors in hexadecimal.

Make the series take a color parameter on construction - default to null/Automa

[2015-06-07 23:18] mattycourtney opened #96 "Add Support for Algorithm Parameter Inputs (Configurable variables)"
Enable finding the optimal set of parameters to trade an algorithm with

[2015-06-08 18:41] AnObfuscator opened #97 "RollingWindow is not thread safe (is it supposed to be?)"
I was taking a look at this file:
https://github.com/QuantConnect/Lean/blob/master/Indicators/RollingWindow.cs

It appears that QuantConnect.Indicators.RollingWindow starts to be thread safe (with locks around Add, GetEnumerator, and Reset), but also allows unguarded reading and modifying the underlying list data structure without locks. *If* this thread is intended to be used with multiple thread

[2015-06-08 19:16] mchandschuh commented on #97
Indeed this could cause concurrency issues, modifying the other operations to be performed within the same lock should alleviate these concerns.  Other suggestions are welcome.

[2015-06-08 19:19] AnObfuscator commented on #97
If locking overhead is a performance risk, this might be a useful class:
https://msdn.microsoft.com/en-us/library/system.threading.readerwriterlockslim(v=vs.110).aspx

I've used the Java equivalent with great success in the past.

[2015-06-08 19:25] mchandschuh commented on #97
Wonderful idea, locking overhead with this type usually isn't an issue, but there's no reason to not design it with that in mind. Thank you.

[2015-06-08 20:42] gururise commented on #96
I'm thinking parameter optimization could be easily supported by allowing optional parameters to be passed into the Engine instance when it first starts.  Once the backtest is complete, the results recorded, and another instance with new parameters is started.  This whole process would occur in a loop under some sort of user control.  By putting this process in a loop, the user could then either d

[2015-06-08 21:23] mchandschuh commented on #96
I think the concept of parameter optimization is slightly outside of the scope of QuantConnect.Lean.Engine.csproj code.  I think what we really need are parameterized inputs for the algorithm and for a job to be able to accept/pass these parameterized inputs.  In this way, the infrastructure that runs Lean can perform the parameter optimization search, whether it be the QC cloud infrastructure or

[2015-06-09 03:41] AnObfuscator commented on #97
Here's my fixed version:
https://github.com/AnObfuscator/Lean/commit/41d6112cee85be70620609517eacf75512c5519b

I can send a pull request if you like.

[2015-06-09 04:09] mchandschuh commented on #97
Please do, code looks great! Thanks for taking the time to do this!!

[2015-06-10 04:27] AnObfuscator commented on #97
https://github.com/QuantConnect/Lean/pull/100

[2015-06-10 14:53] #97 closed

[2015-06-10 16:09] jaredbroad opened #103 "Oanda Data Downloader >> ToolBox Project"
Create a Oanda data downloader tool to allow scraping the Oanda API for FX and CFD data. This would be a long running tool people could run in the background, start every time they login to windows etc.

-> Create a Console interface project following a similar format to ToolBox/QuantQuote project.

-> Create a list of all Oanda symbols and their associated SecurityType with the project.

-> Scan

[2015-06-10 16:13] jaredbroad opened #104 "Create SecurityType.Cfd"
Create SecurityType.Cfd to allow for fully supporting and modelling Oanda Brokerage Cfd Types. Detailed specifications & design outline to follow.

[2015-06-10 16:15] jaredbroad opened #105 "Create SecurityType.Commodity"
Create a SecurityType.Commodity to properly model precious metal trading on Oanda Brokerage. Details and design to follow.

[2015-06-10 16:33] jaredbroad opened #106 "International Markets Support"
Upgrade the SecurityExchange Class to support international exchange time zones and dynamic market hours.

See here for international market hours for each type:
http://fxtrade.oanda.co.uk/help/policies/weekend-exposure-limits

Markets to support are: New York, Chicago, Amsterdam,Hong Kong, Germany, Paris, Switzerland, Sydney.

Each of these could be a data-class which we add in over time. The fir

[2015-06-10 17:12] AnObfuscator commented on #70
Is anyone working on this? If not, I could take this on.

[2015-06-10 17:31] jaredbroad opened #107 "Add Quote Currency Support for Base Security Class"
Assets are purchased in a currency. Currently in Lean this defaults to the Account Currency (USD). Add the ability for the quote currency to be changed to another currency.

All the security properties should continue displaying their output in the Account currency of the algorithm.

[2015-06-10 17:43] mchandschuh commented on #70
No one is currently working on this, please do!

[2015-06-10 17:45] mchandschuh commented on #106
The GetExchange function will probably also require the security type

[2015-06-10 17:50] mchandschuh commented on #107
There's a function that gets called from the setup handlers called EnsureCurrencyDataFeeds and is used to verify we have conversions from quote currency to account currency. This function currently lives on the CashBook object but should probably be moved to the Portfolio object (SecurityPortfolioManager class) so it can also inspect the securities to check for non-account currency quote currencie

[2015-06-10 17:59] jaredbroad commented on #106
Could use C# Noda time to do the international timezone support to automatically account for day light saving etc.

[2015-06-10 20:29] StefanoRaggi commented on #103
This is the full list of tradeable instruments with Oanda (downloaded with Oanda API):
[OandaSymbols.txt | uploaded via ZenHub](https://files.zenhub.io/557897d1f2e14dda725357ac)

We could store the list in a Dictionary or in an external file.

We'll also need a json configuration file with a few settings:

{
    lean-data-folder: "c:\Lean\Data",
    instruments: "EUR_USD,DE30_EUR,SPX500_USD",

[2015-06-10 20:45] jaredbroad opened #108 "Add Intraday PDT Leverage Model"
Model the intraday leverage of a margin account as 4x according to PDT rules, 2x overnight and weekend.

Extend the EquityMarginModel class to "PatternDayTraderMarginModel" to check current market time, and decide the margin available on the account.

[2015-06-10 20:58] jaredbroad commented on #103
Hmm thanks @StefanoRaggi - I'll reach out to Oanda and see what they say. I chatted with them a week or so ago and they had a historical API but maybe its private.

[2015-06-10 21:09] bizcad commented on #103
I tried running the list through my Exchange Lookup routine, which looks up the Exchange from the symbol on GoogleFinance to no avail.  All of the entries came up with "UNKNOWN_EXCHANGE".  The convention I use for getting data from Google is a csv file Symbol, Exchange, Name {, extra columns}.

Is there a way to get the Exchange from symbol in the oanda API?

I slightly disagree with putting the i

[2015-06-10 21:16] jaredbroad commented on #103
hey @bizcad, this is for a Toolbox project -- a oanda data downloader to start the process of fully supporting Oanda brokerage: https://github.com/QuantConnect/ToolBox

If you can I'd love to add a Google Finance Downloader as well! Can you please submit it as a PR to the ToolBox repo? Then save the daily files to the daily directory in Lean?

[2015-06-10 21:16] StefanoRaggi commented on #103
@bizcad This issue is not referring to the Lean Engine, but to the downloaded program in the Toolbox (which I'm working on now).

The entry in the config file is to tell the downloader which symbols to download. I don't think all users would want to download all 124 instruments.

[2015-06-10 21:16] StefanoRaggi commented on #103
@jared You beat me for a second :)

[2015-06-10 21:17] jaredbroad commented on #103
@StefanoRaggi perhaps this could still be a separate text file list (defaulting to all) that people can reduce if they don't want all of them?

[2015-06-10 21:23] StefanoRaggi commented on #103
We could put the complete list in the json file as commented lines (only symbol and description). So the user would copy to the "instruments:" json key only the ones desired. If the key is empty, it defaults to all.

[2015-06-10 21:24] jaredbroad opened #109 "Add Country Codes to Data Storage Location"
Use three character country code to separate the equities/future/options folder into country codes to facilitate for international exchange support.

/Lean/Data/equity/usa/minute/spy/.....

Update TradeBar.cs and Tick.cs to use a country code provided in the subscription data config.

Add a global enum for the country codes. (Say just top 30 codes for now by market cap) http://en.wikipedia.org/wik

[2015-06-10 21:55] jaredbroad opened #110 "Make Account Currency Configurable"
In CashBook class there's a constant AccountCurrency, this serves as the base currency for the portfolio. To make this a configurable property:
1. IBrokerage .GetCashBalances() should return an "account currency flag"
2. ISetupHandler would use this to set the account currency for the cashbook.

[2015-06-10 22:46] bizcad commented on #103
Oh sorry.  I misunderstood.  I will check out the toolbox.

I was considering adding GoogleFinance to Lean for backtesting purposes.  I was thwarted in this effort because I could not access the compression object from the GetSource method.  The toolbox may be better.  I will take a look

[2015-06-10 23:24] bizcad commented on #103
@StefanoRaggi If you like you can take a look at my GoogleFinance Downloader and see if there is anything there you can use.  https://github.com/bizcad/MarketData

Readme.md says where to see documentation.

[2015-06-10 23:33] StefanoRaggi commented on #103
@bizcad Thanks for the link. I'll take a look before starting coding.

[2015-06-12 18:41] mchandschuh commented on #85
Reopening as this is still a useful feature to have. Here's a link to the previously proposed implementation: https://github.com/bizcad/Lean/blob/5993a0ab496cc96ed1d0178f1d5a7be044be7747/Indicators/FisherTransform.cs

Thanks @bizcad for doing the leg work on this!! I think it just needs some cleanup. Also, an input normalizer would be nice, since it expects values in the (-1,1) range.

[2015-06-12 19:50] bizcad commented on #85
I dropped the issue because I thought you were not interested.  I would be happy to clean up anything you want.  Please just let me know.  I thought I was done when I removed the try/catch blocks.

The EMAlike calculation for value1 in the code is the normalizer for the price in the last {period} bars. If you rename my test file spy_fisher_minutes.txt to csv, you can see value1 in column U is betw

[2015-06-17 19:20] dpavlenkov opened #114 "Add SecurityType to BaseData"
BaseData contains Symbol property. Would be nice to also have SecurityType, it is useful.

[2015-06-19 21:51] mchandschuh opened #118 "Add BidSize and AskSize to Tick"
If this data is available it would be nice to have a place to put it.  Currently InteractiveBrokersBrokerage could have access to bid/ask size data.

[2015-06-21 04:34] jaredbroad commented on #103
Closed
https://github.com/QuantConnect/ToolBox/commit/8754f28c9cca3bf685e0c37b285883042a676035

[2015-06-21 04:34] #103 closed

[2015-06-22 13:41] #114 closed

[2015-06-22 13:42] dpavlenkov commented on #114
I can use SecurityManager to get this information. No need to clutter series data.

[2015-06-25 18:43] dpavlenkov opened #123 "Consider adding packages Microsoft.Tpl.DataFlow Rx-Core Rx-Linq Rx-Interfaces"
They make concurrent programming easier.

[2015-06-26 01:27] nii236 opened #125 "Visual Basic Compatibility with Mono"
After  a fresh clone, I get this error in Xamarin Studio. Is LEAN compatible with .NET 4.5? Does Visual Basic play nice with Mono?

![Error](http://puu.sh/iCTKj/3ce01a1ae1.png)

[2015-06-26 02:09] jaredbroad commented on #125
Hey @nii236, mono does but not MonoDevelop at the moment: see this issue we had with adding the Visual Basic project: https://github.com/travis-ci/travis-ci/issues/4107

Known bug in Xamarin,
https://bugzilla.xamarin.com/show_bug.cgi?id=29982

[2015-06-26 02:09] #125 closed

[2015-06-26 12:05] dpavlenkov commented on #123
I wonder that while in backtesting  and warmup mode, engine may run away forward in time while algorithm does some background work. I suppose that limits the applicability of concurrent blocks in these libraries, but as a way to organize code and make it concurrent ready, they are pretty good. So if someday you add async hooks to algorithm, they'll work splendidly.

[2015-06-26 18:05] dpavlenkov opened #127 "Decouple orders from order requests."
Modifying order instances to request changes to them is pretty risky. I could change the order processing to work from requests after the initial AddOrder point. That way order state will make sense: changes to it happen after the requested action is performed. What do you think?

[2015-06-26 18:22] jaredbroad commented on #127
Agree its risky if threading & invalidation not handled properly. We've always wanted to make Orders immutable to prevent needing close monitoring of the order status.

How would you layout the system -- can please you give a little more detail on the proposed solution?

[2015-06-26 18:23] jaredbroad commented on #123
Are the libraries above cross platform? (Mono 3.12+ support and OS friendly license needed for integration)

[2015-06-26 18:35] dpavlenkov commented on #127
Here's a minimally disrupting solution. On SecurityTransactionManager,
replace OrdersQueue with  OrderRequestQueue. All operations(submit, update,
cancel) are done with requests. If you want orders immutable, great.
TransactionHandler owns Order implementations. TransactionManager only
assigns a new OrderId and put's it in submit requests. Users only see
IOrder, after TransactionHandler puts them

[2015-06-26 19:01] dpavlenkov commented on #123
I know they have portable libraries. They have microsoft license, don't
know anything about it's friendliness. If used, it seems better to install
Rx-Main, it includes everything Rx.

On Fri, Jun 26, 2015 at 2:23 PM, Jared <notifications@github.com> wrote:

[2015-06-26 19:28] dpavlenkov commented on #127
This should illustrate my point: in BrokerageTransactionHandler, line 411
<code> 411            if (_orders.TryGetValue(order.Id, out queued) && (queued.Status == OrderStatus.Submitted)) //partially filled?</code>

This can never be true, because SecurityTransactionManager first sets Order.Status to Canceled and then adds it to OrdersQueue.

[2015-06-26 19:55] jaredbroad commented on #127
Ok excellent catch :) -- agree this low impact implementation would be a good first step: What do you think about this as the path

1. Remove OrderStatus.Update from the OrderStatus enum
2. Create OrderRequest objects (Submit, Update, Cancel) with base class OrderRequest.
3. Rename OrdersQueue -> OrderRequestQueue
4. Update QCAlgorithm helper methods to submit OrderRequests
5. Public Orders Dictio

[2015-06-26 20:14] dpavlenkov commented on #127
I'll get on this. Can you elaborate on 5 ? I'm not clear what you mean.

On Fri, Jun 26, 2015 at 3:55 PM, Jared <notifications@github.com> wrote:

[2015-06-26 23:02] mchandschuh commented on #127
I believe the spirit of 5 is to prevent the algorithm from having direct access to the underlying order storage.

[2015-06-28 01:54] dpavlenkov commented on #127
Yes, no problem. We'll hide things nicely.

[2015-06-28 15:41] nii236 commented on #88
I've completed a (pull request)[https://github.com/QuantConnect/Lean/pull/126] regarding this issue which was merged a couple of days ago.

[2015-06-28 15:42] #88 closed

[2015-06-29 09:34] RebelionTheGrey opened #131 "Something wrong with desktop GUI in 2.1.1.41"
Hello. I tried to run project in "GUI mode" (through the "QuantConnect.Views". It worked normally in 2.1.1.39 (I saw strategy debug info in WinForm window), but didn't work well in 2.1.1.41 - see no information in the window.
When I tried to look the reason, I saw that

while (_resultsHandler.Messages.TryDequeue(out message))

returned message as null each loop time.

Console version works fine.

[2015-06-29 16:48] jaredbroad commented on #131
From version .41 onwards you can set the "environment" configuration to choose between "backtesting" setup parameters and "desktop" settings.

If you change the "environment" setting to "desktop" it should fix your issue.

[2015-06-29 16:48] #131 closed

[2015-06-29 17:16] dpavlenkov commented on #127
Can you give me your reasoning for subclassing Order? I think it's a mistake because Order preserves identity but can change type. Even now Lean engine can convert Market to MarketOnOpen. Order remains the same, its type changes. Brokerages allow converting Limit Orders to Market, and probably can convert any order to any type. I'm not against subclassing, but Order does not fit. I am prepared to

[2015-06-29 17:50] mchandschuh commented on #127
The primary reason was to prevent some fields/properties from applying to some order types and not to others. For example, if I created a market order, but then the object had a property called StopPrice, I think that would be confusing and misleading. So ideally, whatever solution we decide on wouldn't have fields/properties that only apply given the value of some other field/property in the obje

[2015-06-29 18:20] dpavlenkov commented on #127
Ok, I'll go with subclasses. For some reason I thought brokers allow
changing order types.

On Mon, Jun 29, 2015 at 1:50 PM, Michael <notifications@github.com> wrote:

[2015-06-30 15:23] dpavlenkov opened #132 "SecurityPortfolioManager.TotalPortfolioValue looks like a bug"
https://github.com/QuantConnect/Lean/blob/master/Common/Securities/SecurityPortfolioManager.cs#L342

I think you need to subtract the totalHoldingsCostWithoutForex instead of adding it.

[2015-06-30 16:04] dpavlenkov commented on #132
No, I misunderstood, never mind.

[2015-06-30 16:04] #132 closed

[2015-07-01 20:00] bizcad commented on #127
What happens if the algo places a LimitOrder and it does not fill by the next bar?   If the price moved away from my Limit, my strategy, a Resolution.Minute strategy, calls for the to be cancelled if (!Securities[symbol].HoldStock).

The current implementation of HandleCancelledOrder logs an error "Unable to cancel order with ID 123".

In the case of the BackTestingBrokerage, there is no queue and

[2015-07-01 21:06] mchandschuh commented on #127
Currently you can override the `OnOrderEvent` in the algorithm to get all order status update events directly from the brokerage (mediated by the transaction handler). Also, on a minute resolution strategy, the odds of those sorts of concurrency issues are greatly reduced since most of the algorithm's time will be spent waiting for the next minute. As for second/tick strategies, the developer need

[2015-07-06 21:17] jaredbroad opened #137 "Expose RealTimeEvent Handler to Algorithm"
Added a method AddScheduledEvent which passes the events through to the RealTime handlers and can trigger events at specific times in the algorithm.

Each day a setup function is called to determine the DateTime value for the event trigger. These setup functions could be made into a static helper (like Field.Close)

The RealTime handlers will need to be extended to handle multiple re-fire of the s

[2015-07-07 00:59] naicigam commented on #137
Quartz.NET (http://www.quartz-scheduler.net/) implements a very flexible
scheduler.
If we can't integrate it in Lean (I don't know what the rules are to
integrate third-party libraries), at least we can get some ideas on how to
implement it.

On Mon, Jul 6, 2015 at 6:17 PM, Jared <notifications@github.com> wrote:

[2015-07-07 01:36] dcchsieh commented on #137
FluentScheduler is another library that could be useful (https://github.com/jgeurts/FluentScheduler) from experience it's relatively lightweight.

[2015-07-07 01:59] jaredbroad commented on #137
Cool I'll check them out. Its currently 90% implemented -- we already have working real-time events which are also modeled/fast-forwarded in backtesting, they just aren't exposed to the user/algorithm logic. This change is more about exposing the current real-time system to the user through a powerful and easy API.

[2015-07-07 02:44] jaredbroad commented on #30
+ Note: Benchmark ideally would be customizable, numerous users requested custom benchmarks. This could be specific symbols, or functions which return a decimal value each day.

[2015-07-07 03:14] bizcad commented on #137
I have worked with quartz in the past and I hated it.  It is very difficult to get working properly.  I cannot recommend it.

[2015-07-08 19:19] jaredbroad commented on #137
Interesting.. I propose the main reason we need to implement our own solution (or extend our current system to handle user events) is because we need to model events in backtesting, all the libraries suggested can't handle "virtual" time in a backtest..

[2015-07-08 23:12] mchandschuh commented on #106
@dpavlenkov This was commited in https://github.com/QuantConnect/Lean/commit/6bd38ece7738b76d293515429d8d2c589a012082. I heard you had an interest in this issue and would certainly love any feedback you could offer. The more eyes on these kinds of changes the better :)

[2015-07-09 22:41] dpavlenkov commented on #106
That's great Michael! If it rubs me the wrong way, I'll let you know.

On Wed, Jul 8, 2015 at 7:13 PM, Michael <notifications@github.com> wrote:

[2015-07-09 23:13] ammachado commented on #106
The Brazilian market could be included in this upgrade as well.

[2015-07-10 01:11] mchandschuh commented on #106
@AlexCatarino has started looking into adding the brazilian market. Adding a market *should* be fairly simple. You'll need to add the correct data to the /Data/market-hours/market-hours-database.csv file and optionally provide a 'holidays-brazil.csv' holidays file. After that, you'll need some raw data for backtesting in the /Data/equity/brazil/ and/or /Data/forex/brazil/ folders, then you can spe

[2015-07-10 01:37] AlexCatarino commented on #106
I will clone the exponential 50-10 moving average cross strategy and run it with an equity (and the e-mini futures contract for the index after that) from the Brazilian market. In the process, I will implement all the according changes enumerated by @mchandschuh. Wish me good luck!

[2015-07-10 23:39] bizcad opened #138 "Incorrect price in back test."
At line 362 in QCAlgorithm.Trading, the following is coded.
<code>var price = security.Price;</code>
The comment right above it says " Set a temporary price for validating market orders."
On 2/9/2010 the price for DNB was 70.72 Close, but QC assigns a price of 82.60 at that point.
Later on in my algo I catch the OnOrder event and test for it being filled.  When it is filled, both the Order.Price a

[2015-07-11 00:32] mchandschuh commented on #138
Have you pulled the latest code. I think this is different now. I'm on the road, can check it out later.

[2015-07-11 00:50] bizcad commented on #138
I will pull the latest and test.  However, I looked at the repo before I wrote the issue and the file was the same as my local version.

[2015-07-12 01:31] bizcad commented on #138
The issue appears to be resolved.  The 82.60 price is still the price in Trading, but the FilledPrice on a orderEvent is now 71.35.  I cannot tell from the daily bars for sure because I am (somewhat arbitrarily) putting the Market order in at 10:30.  The price looks to be in the correct range for the day.

I have a bit more to do and will comment again tomorrow.

[2015-07-13 21:36] bizcad commented on #138
The issue is resolved with the github version of Lean.  It is not resolved on the live version on the server.

When I ran the algorithm against the WebGUI, I did not get the transactions expected.  It appears the live version of QC is still running an older version that is giving the incorrect price.  Case in point, my first trade in the trade log shows.

<pre>
Time	Symbol	Price	Quantity	Type	Stat

[2015-07-13 21:43] mchandschuh commented on #138
I'm closing this issue as it's been resolved in recent builds on github.

[2015-07-13 21:43] #138 closed

[2015-07-13 22:17] jaredbroad opened #140 "Add Task Filters to Order Tickets"
Allow async callbacks/tasks based on filter criteria to order tickets.

Make sure it runs synchronously in backtest to avoid in-deterministic  backtests (e.g. ContinueWith() executing at different times).

[2015-07-13 22:19] jaredbroad commented on #140
Discussion welcome, lets figure out how to do this elegantly :)

[2015-07-15 20:39] dpavlenkov commented on #140
#123
You have event driven system. Reactive extensions and TPL Dataflow is the way to use it elegantly. On .NET I see no alternative. Rx gives you Linq over Observable, TPL Dataflow gives you deterministic action blocks and, well, data flow. I'm not even sure you need to deal with tasks on API level. We deal with message processing, and for that we need pub/sub, filters, action blocks, etc. That's

[2015-07-17 17:21] naicigam opened #141 "Open source user Interface"
Hi, everyone!

I am new to Lean and I noticed that there is no user interface for the open source version and I would be happy to create one. Do all the open source users use the console? Or does everyone create a UI for themselves?

I would love to have some input on the language to use and what the first features should be.

I think ASP.Net vNext will be a great technology to do this, since it i

[2015-07-17 18:25] jaredbroad commented on #141
Hey Naicigam! We actually have a super simple one which we submitted as a
proof of concept but I'd really welcome your help with it!

We went with Win Forms since its 100% cross platform. You can see the demo
in the UserInterface project on Lean. To load with an interface you just
need to change your config environment to be desktop.

I'd be happy to consider vNext as long as its stable and suppor

[2015-07-19 11:02] sblanchard opened #143 "How do I create an ATR indicator from a RenkoConsolidator source"
In the RegisterIndicator method it sees the outputType as Tick and throws an exception.
Is this possible to?

[2015-07-20 15:37] mchandschuh commented on #143
In order to compute the AverageTrueRange, a TradeBar input value is
required. If you'd like to use a RenkoConsolidator's output as the input
for the ATR, you'll need to do some projection from the RenkBar ->
TradeBar, or, you could write a new version of the ATR that takes RenkoBar
as an input value. Here's some code that will take the output of a
RenkoConsolidator and pas it through to the Averag

[2015-07-22 05:54] #143 closed

[2015-07-22 05:54] #141 closed

[2015-07-22 06:00] jaredbroad commented on #127
Closed by commit 9c1b0f4

[2015-07-22 06:00] #127 closed

[2015-07-22 06:19] jaredbroad commented on #106
Completed in commit 28d8300e4

[2015-07-22 06:19] #106 closed

[2015-07-22 08:18] xenu256 opened #144 "Runtime Error: Algorithm took longer than 10 minutes on a single time loop."
On algo "Check if there always data?"

Runs fine, at the end stuck with runtime errror:

  at QuantConnect.Isolator.ExecuteWithTimeLimit (TimeSpan timeSpan, System.Func`1 withinCustomLimits, System.Action codeBlock, Int64 memoryCap) [0x00000] in :0
  at QuantConnect.Lean.Engine.Engine.Run (QuantConnect.Packets.AlgorithmNodePacket job, System.String assemblyPath) [0x00000] in Lean.Engine.Engine.Run

[2015-07-22 15:21] bizcad commented on #144
I am getting the same error on my algo as well.  It runs fine on my machine with the latest compiled version of Lean in Debug mode.

[2015-07-22 19:52] jaredbroad commented on #144
Thanks guys -- where are you seeing the error? On QuantConnect.com or the
open source project?

If the open source project can you please tell me your local version number?

Thanks
JB

On Wed, Jul 22, 2015 at 11:21 AM, Nicholas Stein <notifications@github.com>
wrote:

--
Jared Broad

www.quantconnect.com
Phone-USA: +1 917 327 0556
*Democratizing Finance, Empowering Individuals*
Facebook <http://ww

[2015-07-22 20:35] xenu256 commented on #144
QuantConnect.

[2015-07-22 20:35] bizcad commented on #144
I am getting it on QuantConnect.com.  It is happening at 26% on my Abhi Goel Algorithm during backtest.
The algorithm is a custom data algorithm where QC is executing the orders.  Please feel free to take a look at it if you want.  Here is a link to the log.

http://data.quantconnect.com/backtests/7828/103038/a95620c70ff3701671b60f254c807edd-log.txt

In open source, the algorithm consistently runs

[2015-07-22 20:48] jaredbroad commented on #144
Cool thank you guys, we're about to deploy a new build of QC with quite a
few bug fixes, so we might have already fixed the error.

I think the bug you're talking about has already been fixed -- MarketOnOpen
orders were causing the system to hang if you submitted an order when there
was no more data,

JB

On Wed, Jul 22, 2015 at 4:35 PM, Nicholas Stein <notifications@github.com>
wrote:

--
Jared B

[2015-07-22 22:00] bizcad opened #145 "OnData bar time has changed"
When the first entry in a minute back test data file is 34200000, that is 34200 seconds after midnight or 9:30 AM.  In the open source version of Lean (which I updated to today), the OnData(TradeBars data) event is now reporting that data.Time is 14:31 or 1:31PM.  In previous versions data.Time was 9:31.

I understand that the 1 minute difference is because it reports the Close of the bar.

The da

[2015-07-22 23:17] bizcad commented on #145
More information

In FileSystemDataFeed.Run, by the time you hit this point. (on line 211)
<pre>
var time = timeSlice.Time;
var newData = timeSlice.Data;
</pre>
timeSlice.Time is set to UTC (14:40).
timeSlice.Data is still NewYork time (9:30)

So later on (line 314 in my current version) when you
<pre>
 //Trigger the data events: Invoke the types we have data for:
var newBars = new TradeBars(time)

[2015-07-23 17:02] mchandschuh opened #146 "Add ability to have pending funds in the CashBook"
It is typical of US equity accounts to require 3 days after a sale before the funds 'clear' and are usable in your account.  They still count towards your portfolio value, but you just can't use them to actually purchase any more securities.

What's missing from the engine in order to support this is a concept of pending margin in the `Portfolio`. Fills would still happen as usual and the cash wou

[2015-07-23 20:06] jaredbroad commented on #145
Thank you Nick you're totally right! We recently moved everything to be sync'd on UTC in the engine, and this was a left over part of that.

If you're keen please submit a pull request for this: the changes required are in the AlgorithmManager file:

After the algorithm time has been set (https://github.com/QuantConnect/Lean/blob/master/Engine/AlgorithmManager.cs#L241)

1. Use algorithm.Time to se

[2015-07-24 02:55] #145 closed

[2015-07-25 11:17] maxhash opened #148 "Unable to locate exchange hours"
By default the engine uses forex data from 'fxcm' directory. I receive the following error when I try use data from 'oanda' directory.

<code>
20150725 12:10:30 ERROR:: Error Message >> Algorithm.AddSecurity(): Unable to locate exchange hours for oanda-[null]-Forex
</code>

Where do I need to set the exchange hours?

[2015-07-25 18:09] mchandschuh commented on #148
Hey @maxhash, have a peak at the csv files in /Data/market-hours. This is the flat file database used to initialize exchange hours for securities. There's two types of files in here.

The important, must have, is the [market-hours-database.csv](https://github.com/QuantConnect/Lean/blob/master/Data/market-hours/market-hours-database.csv) file. This defines market hours by market/symbol/security typ

[2015-07-25 18:09] #148 closed

[2015-07-25 20:37] maxhash commented on #148
Everything works now. Many thanks!

[2015-07-25 22:45] mchandschuh commented on #148
@maxhash: I welcome a PR with the changes that got it to work, I'm sure others will run into this as well.

[2015-07-28 16:59] bizcad commented on #144
I just tried the algo again, hoping you would have do the deployment by now.  I get a runtime error within a couple of minutes.  That is progress.  However, there are no logs or diagnostic information about what the runtime error is.

[2015-07-28 17:58] mchandschuh commented on #144
@bizcad - I just took a peak at your algo, it looks like after 7 minutes the data feed fails to load your custom data subscription. A few questions, how large is the file (I tried going to the URL but got two empty lines) and have you tested the parse logic?  The logs show after 7 minutes the following:
`20150728 13:52:48 Trace:: FileSystemDataFeed.Run(): Failed to load subscription: ABHIGOAL`
Whi

[2015-07-28 19:31] bizcad commented on #144
@mchandschuh Thanks for testing.  I discovered the link to get the list of symbols is no longer working either.
<code>        private const string DATA_SOURCE_URI = @"http://54.69.46.205/filter_csv_withcache.php?sdate=1/1/2010&edate=7/6/2015&knowhen=31,41&rd_pct=83,92,100&pid=9";
</code>
I have contacted Abhi to find out what is wrong.

As to swallowing Exceptions ins the catch block, I was using

[2015-07-28 20:33] mchandschuh commented on #144
If you know your data has no headers then I would recommend removing the try/catch. I'd rather exceptions be thrown then go unnoticed. I agree that the behavior is correct. We iterated all of the dates within the backtest trying to get valid custom data and just came up empty.

My suggestion was thinking that maybe you were getting a parse error and it was being swallowed (and hence not reported)

[2015-07-28 20:51] jaredbroad commented on #144
Closing because original bug fixed.

[2015-07-28 20:51] #144 closed

[2015-07-28 21:04] bizcad commented on #144
I contacted Abhi and he told me he has to rework all his dates (whatever that means), and it will take a week or so.  When he gets back on line I will fire off the algo again.  Meanwhile I will remove the try catch  block.

[2015-07-30 16:19] dpavlenkov commented on #146
My initial thought on this is: we don't have pending margins, but we do have pending settlements which are applied to cashbook. So cash in cashbook needs to be divided into settled cash and pending cash. Then you can calculate your available margin from settled cash. Am I on the right track?

[2015-07-30 17:19] jaredbroad commented on #146
We use cash to calculate portfolio value, so if the "cash" value changed because some of it was pending -- it would make the equity chart jump downwards.

In the brokerages they simply display it as part of your total cash balance -- separating "Cash" and "Buying Power" which for us is effectively margin. So simply modelling it as a temporary dip in buying power/margin is simplest IMHO.

[2015-07-30 17:21] mchandschuh commented on #146
Agreed, we use cash as your cash balance and margin as buying power. So, technically, the cash is there, you just can't use it. But actually, @Nik1Milev correctly pointed out on the QC forums that you can use the cash, you just can sell things you buy with that cash until it's been settled, tricky.

[2015-07-30 17:22] jaredbroad commented on #146
Alternatively we could do settled cash modelling, which is more accurate -- we'd just need to reflect it in the Portfolio Value calculations (everywhere cash is used would be replaced with Cash + UnsettledCash)

From Tradier:
How does Regulation T govern the usage of funds in a cash account?

When shares of stock or option contracts are sold in a cash account, there is a settlement period during w

[2015-07-30 17:32] dpavlenkov commented on #146
Additionally, only cash accounts are restricted to trading on settled cash. Margin accounts are allowed to trade with unsettled funds and are allowed 3 good faith violations per year. Pattern day traders are allowed to trade with unsettled funds, moreover, their initial margin is only 25% (overnight positions are subject to 50% maintenance). So, calculating available margin from settled cash appli

[2015-07-30 17:32] jaredbroad commented on #146
Also from Tradier: the funds are released on the third morning after the sale, so a Monday 2pm sale would be released Thursday morning by 8am - (i.e. its not 72 hours, but third morning)

[2015-07-30 17:36] mchandschuh commented on #146
@dpavlenkov - Instead of an account level margin model, I was thinking of keeping it security based, since the regulations change based on country/security type. So for equities, its the 3 day waiting, but for options it's available the next day (I believe). I'm thinking an extension of IMarginModel that maybe applies the funds to the cash book or to unsettled funds depending on the model. The Por

[2015-07-30 17:40] dpavlenkov commented on #146
No worries, I didn't intend to scrap security margin model. I suppose we could initialize security margin models differently depending on user requirements.

[2015-07-30 17:43] jaredbroad commented on #146
I agree it should be security based -- implemented on the MarginModel -- but also default to using a MarginModel which detects cash balance under $25k + the account type to determine PDT restrictions.

Then we'd need an QCAlgorithm method SetAccountType() which takes the account type -- cash / margin -- and the BrokerageSetupHandlers would need to set it from IBrokerage when starting up the algori

[2015-07-30 17:57] dpavlenkov commented on #146
SetAccountType will make things easy to setup for the user. Internally, we have two concerns: 1) initial and maintenance margin requirements 2) settled and unsettled cash. To handle this flexibly, let's have an interface code named "Available Margin Calculator" which will decide whether to use unsettled funds for trading depending on security type or even per security. Then the function of SetAcco

[2015-07-30 18:11] jaredbroad commented on #146
@dpavlenkov -- the margin calculation work (initial vs maintenance) has already been implemented. The "Available Margin Calculator" is "GetMaintenanceMargin" and its all done in the MarginModel

I dont think we need any new interfaces, just better modelling on the default MarginModel. This part of code is pretty complex. I'd recommend digging into it before you start.

[2015-07-30 18:18] dpavlenkov commented on #146
I'm talking about decision whether to use unsettled funds for trading. Do you propose that margin models make that decision?

[2015-07-30 20:33] jaredbroad commented on #146
Ah good point -- to start lets model the first half -- "blocking unsettled funds from trading" (which is a big task itself given brokerage concerns). Then once its done we can solve how to *trade* with unsettled funds.

(IMHO git issues should be as light and minimum scope as possible - so they can be built and shipped with low risk with 2-3 hours work maximum)

[2015-07-30 21:18] dpavlenkov commented on #146
Yes, no problem, it's just thinking of bigger scope helps direct the small scope. It started with an idea, now we have a plan. So, if I understood this correctly, for the first iteration:

1) Separate cash into Settled and Unsettled
2) Implement pending settlements and have them applied to cashbook, which moves unsettled cash to settled
3) Margin calculation methods that now look at total cash nee

[2015-07-30 21:51] jaredbroad commented on #146
1) CashBook (as is now) and the a new UnsettledCashBook instance (both using CashBook type, living on Portfolio)
1.2 Create IMarginModel.ApplyFunds( SecurityPortfolioManager, Order, decimal funds) anywhere the Cash property is directly set, and apply the Security's Margin filter on where the cash goes. E.g. FOREX cash is immediately applied.

4) Update total portfolio value calcs to include unsett

[2015-07-31 00:28] dpavlenkov commented on #146
Well, like you said, it's better to keep issues small, so perhaps make 5 and 6 another issue?

[2015-07-31 04:47] Nik1Milev commented on #146
Hi All,

I really enjoyed reading the email trail - the moment a question pops up in
my head, it is answered on the next email.

I would like to share my 2 cents:
It seems to me it is better to leave a choice to developers:
- mode 1, no changes - use it as it is now, so cash is available
immediately and no regulation T is considered
- mode 2, the one you guys discussed.

Mode 1 is important to me,

[2015-07-31 05:26] AnObfuscator commented on #146
I think this is the right call. The thing is, unsettled funds can be used immediately to purchase new stocks, but those stocks then can't be sold until the funds are settled. For day trading, this is terrible; for buy-and-hold, maybe not so much.

There's a lot of variations that could be considered. Getting a solid model for unsettled funds is the first and most important step. :)

[2015-07-31 15:39] mchandschuh commented on #146
@Nik1Milev - we currently have a plugin point to define your own fill models, via the ISecurityTransactionModel interface. In there you could define your fill behavior to be dependent on the recent volume in the security, even have low volume negatively impact the fill price.

@dpavlenkov - We can start with the core and add the API goodies on top later.

@AnObfuscator - Always words of wisdow :)

[2015-07-31 17:18] jaredbroad commented on #146
@dpavlenkov -- my logic for doing 4,5,6 is to "completely" finish the first part of it. Anything we do now we have to implement for backtesting and live :) Its twice the work but it means the code can be used in live trading as well.

[2015-07-31 18:01] jaredbroad commented on #146
After thought -- since this can be set manually by the user with SetAccount type we can skip the parts where its automatically set by the brokerage (step 6). That can be a "nice to have" feature for next iteration.

[2015-07-31 18:18] dpavlenkov commented on #146
Considering that this affects live trading most of all, we need to make sure we can sync the balances we need. Tradier can give us available funds, total funds, unsettled funds. Interactive brokers through krs.ats.ibnet can give us total funds and available funds. krs.ats.ibnet does not appear to implement reqAccountSummary, which would give us more info, and probably what we need. I don't see the

[2015-07-31 19:06] jaredbroad commented on #146
Good point! I forgot that there may be unsettled balances on deploying the algorithm.

[2015-07-31 19:22] mchandschuh commented on #146
I believe the IB implementation would send it back via account properties, this is how we currently get the cash. Here's an incomplete [list](https://www.interactivebrokers.com/en/software/api/apiguide/activex/updateaccountvalue.htm) of the available account properties.

[2015-07-31 20:03] dpavlenkov commented on #146
https://www.interactivebrokers.com/download/newMark/PDFs/APIprintable.pdf page 100 has good descriptions of account properties.

[2015-07-31 20:15] dpavlenkov commented on #146
I checked the properties on my paper and live accounts and I don't see how we can get unsettled cash directly. Indirect way is to scan executions and guess.

[2015-08-02 17:33] dpavlenkov commented on #146
We have three brokerages, and they provide unsettled cash differently. Backtesting brokerages models it from fills. Tradier brokerage provides it directly. IB provides executions and we can model it from that. So I think we need to let brokerages manage unsettled cash and access it through IBrokerage.GetUnsettledCashBalance() . To model unsettled cash internally, a brokerage could populate and mai

[2015-08-03 02:11] nii236 opened #149 "xbuild fails on fresh git clone"
Hey all,

I did a fresh `git clone` and ran `xbuild` (from OSX). This is the error that pops up:

[code]

I'm not too sure what's going on here. My mono is of the latest version (4.0.2.5). I think the offending line *might* be the following in the fsharp file:

`<Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MS

[2015-08-03 03:57] mchandschuh commented on #149
Do you have the required FSharp dependencies installed? I don't have OSX, but I know on windows we need to install FSharp. If that doesn't work, a hack would be to set the QuantConnect.Algorithm.FSharp project to not build and remove it as a dependency from other projects.

[2015-08-04 19:34] StefanoRaggi commented on #30
Here are my first thoughts on where to get started:

*Step 1*
- Create new Trade class (properties: Symbol, EntryTime, EntryPrice, Direction, Quantity, MAE, MFE, ExitTime, ExitPrice, NetProfit)
- Change type of SecurityTransactionManager.TransactionRecord from Dictionary\<DateTime,decimal\> to List\<Trade\>
- In BrokerageTransactionHandler.HandleOrderEvent when order filled, open new Trade and/or

[2015-08-04 21:17] jaredbroad commented on #30
I like the design using Trade objects. This will simplify creating rolling windows of statistics (e.g. Get all trades between X-Y, generate statistics).

Does this support fractional opens/partial trade closes? E.g. I open at $10 (x10), open more at $12 (x10), close 10 at $15, open 10 more at $14, close all 20 at $13. What is the entry price for first close? second close?

Will you fill up the tra

[2015-08-04 22:33] StefanoRaggi commented on #30
For trade counting/generation I would consider one of these two options:

*Option 1 (Single Trade)*
a trade is closed only when the position size crosses above/below zero and open price (avg price) is updated on each fill until the trade is closed.
Quantity = 30
Direction = Long
EntryPrice = AvgBuyPrice = (10\*10+10\*12+10\*14)/30 = $12
ExitPrice = AvgSellPrice = (10\*15+20\*13)/30 = $13.66

*Opti

[2015-08-05 21:33] TangentLogic commented on #96
Don't know if anyone else is working on this; I'm working on an implementation (including a brute-forcer proof-of-concept).  I expect to submit a patch around the end of this week.

[2015-08-05 22:01] jaredbroad commented on #96
Awesome @TangentLogic! Look forward to seeing your design. Are you using C# attributes like demonstrated above?

From our past experiences its best to talk through the design publicly as early as possible to get the benefit of the "hive mind" :)

[2015-08-05 22:12] jaredbroad commented on #30
Awesome, I lean towards option 2 as well @StefanoRaggi. I recommend doing more research to find out what accounting systems others have used to ensure our statistics results are directly comparable to other platforms. Maybe there's some reference or expert on the subject we can ask?

[2015-08-06 04:47] TangentLogic commented on #96
Yeah, it's mostly similar to mchandshuh's post, where parameters can only be declared on fields.  Right now I've built 4 parameter types: IntParameter, DecimalParameter, DateTimeParameter, and BoolParameter.

IntParameter, DecimalParameter, and DateTimeParameter have a Min, Max, and Step.  Step is used for incrementing between min and max during a brute-force optimization.

BoolParameter only has

[2015-08-06 12:00] adriantorrie commented on #30
Any chance a property for a `StopLoss` (trailing or hard) could be added to the `Trade` class?

This would allow calculation of `RiskAdjustedEquity`. Risk-adjusted equity would allow determination of true remaining cash for establishing positions, and thus affecting position sizing algorithms.

This may not be critical for stocks where cash outlay is upfront, but 'cashless' trading such as futures

[2015-08-06 12:15] adriantorrie opened #150 "Asymmetric Donchian Channel"
This is an extension to #47.

Currently `DonchainChannel` takes one argument, `period`, and uses this to determine both the upper and lower limits of the channel.

[code]

An asymmetric channel would allow different periods to be set for the upper channel and lower channels separately, perhaps like this?

[code]

[2015-08-06 13:32] jaredbroad commented on #30
Hey @adriantorrie its out of scope for this change. A StopLoss would be an order type -- these are accounted for here: https://github.com/QuantConnect/Lean/tree/master/Common/Orders

[2015-08-06 15:13] jaredbroad commented on #30
@adriantorrie sorry I just re-read this after a coffee; I totally misunderstood your question on first read! :) Its a very interesting idea, lets come back to it after this initial refactor as a new issue.

[2015-08-07 02:56] bizcad commented on #96
@Vincent-Chin I found some code for parsing command line parameters if that would be any help.
<code>
http://www.codeproject.com/Articles/3111/C-NET-Command-Line-Arguments-Parser
</code>
I was able to adapt it to my project and found it very convenient.

Nick

[2015-08-11 14:01] Vincent-Chin commented on #96
By way of update,

The code is still in-progress.   I've had to replace DecimalParameter with DoubleParameter due to CLR limitations (decimals are invalid parameter arguments because they are not a 'core' data type.)

I've gotten the parameterization working; currently am writing the unit tests and trying to figure out why the brute forcing logic I've created fails after the first iteration (somet

[2015-08-11 14:42] jaredbroad commented on #96
Sweet Vincent!!

Shame about the DecimalParameter - this will be a very common parameter
request. Perhaps @mchanschuh will have some ideas how to make this one
possible? (once you push to your local repo we'll do some initial review /
hints)

I'd recommend just submitting pull-request with singular pairing of
[Engine]-[Parameter-File] first. We'll have to make a separate
"Engine-Optimizer" project

[2015-08-11 19:09] jaredbroad commented on #96
Edit: Renamed "Parameter File" for "Parameter Set" since its really going to be in the algorithm-job class. Its not a real "file" and just the values of parameters for a specific backtest run.

[2015-08-11 19:10] mchandschuh commented on #96
@Vincent-Chin you're correct that attribute's can't embed decimal data via named parameters, but maybe we embed the data as double? Since these are Min and Max values, I think a double would express that just as well. We need to have the parameter itself be a decimal, but the min/max/step could be double, and maybe another overload ctor makes step a ratio int/int to (thinking of 1/10 which is not

[2015-08-12 12:46] Vincent-Chin commented on #96
If you guys don't care about me completing the unit tests / integrating smoothly with the rest of the project, I can push what I have tonight, after I get home.

[2015-08-12 14:39] mchandschuh commented on #96
@Vincent-Chin - Please do continue work on the unit tests and such, I'm just anxious to see some code, so if you could push what you have this evening that would be wonderful. Thanks!

[2015-08-13 03:02] Vincent-Chin commented on #96
Unfortunately I'm not very experienced with Git and have not been able to set up a Pull Request properly; (the fork I attempted to create was some 53 commits behind the master, for some reason.)

So here's a patch:
https://dl.dropboxusercontent.com/u/9232427/0001-Draft-of-Parameterization.-Works-on-parameter-defini.patch

It's using a modified config.json that attempts to do a brute force optimiza

[2015-08-13 03:09] Vincent-Chin commented on #96
Note that there's a bug in lines 453-356 of the patch; the values should be casting to (decimal).  Instead they're casting to (int).

[2015-08-13 03:30] mchandschuh commented on #96
You can push to your fork's master using the following:
[code]
Also, here's a link to the [contributor's guide](https://github.com/QuantConnect/Lean/blob/master/CONTRIBUTING.md)

[2015-08-19 16:08] StefanoRaggi commented on #30
@jaredbroad I have completed Step 1 (two last commits here for review: https://github.com/StefanoRaggi/Lean/commits/statistics)

I ended up creating a new TradeBuilder class that generates Trade objects in real-time during the execution of the algorithm. This was required to calculate MAE and MFE for each trade (as a byproduct, the ClosedTrades property can also be used by the algorithm itself for

[2015-08-19 21:49] mchandschuh commented on #30
Code looks great @StefanoRaggi. I noticed we've added a `TradeDirection` enum, it seems like a duplicate of `OrderDirection` enum. Also, there's a new `TradeExecution` class which has similar data as `OrderEvent`. I think the one thing `OrderEvent` doesn't have is the Time, which I think it should have. One other thing was placing the `TradeBuilder` on the `IAlgorithm` interface. I wonder if there

[2015-08-19 22:17] jaredbroad commented on #30
Incredible PR @StefanoRaggi, there's a lot to digest here

I'm new to a lot of these concepts - can you describe/link them? (Fill To Fill, Fill To Flat, Flat to Reduced). It would be great to understand their intent better so we can review better.

I asked a quant working at a hedge fund and he suggested leaving the default statistics generation source as portfolio average fill prices (like it is

[2015-08-19 22:52] mchandschuh commented on #150
Closed in PR #151

[2015-08-19 22:52] #150 closed

[2015-08-20 00:23] StefanoRaggi commented on #30
@mchandschuh, thanks for the review:

- I chose to add the `TradeDirection { Long, Short }` enum because the `OrderDirection { Buy, Sell, Hold }` didn't sound good as a `Trade` property; I always read about long/short trades not buy/sell trades. :smile: Personally I would keep the new enum, if you don't mind.
- I saw the missing `Time` in the `OrderEvent` class, but just didn't want to add it at t

[2015-08-20 00:42] mchandschuh commented on #40
This was merged in https://github.com/QuantConnect/Lean/commit/1b9c1b792165848566edcc1fa543ca526b15286d

[2015-08-20 00:42] #40 closed

[2015-08-23 18:58] chutes opened #154 "Create LogReturn Indicator"
Create the LogReturn Indicator.

discussion and possible implementation can be found at:
https://www.quantconnect.com/forum/discussion/comment/1837

[2015-08-25 15:35] jaredbroad commented on #30
Thank you for the extra reading. I like what is there so far and it looks like a pretty incredible foundation to build enhanced statistics -- without changing how we do portfolios at the moment!

One thought -- we have to plan for long running live algorithms tight on memory -- please cap the number of trades to 10,000 or 12 months, whichever is first (in live mode) -- then remove the oldest trade

[2015-08-27 13:52] #154 closed

[2015-09-02 06:48] wanghao793 opened #156 "got error message after new clone and new build"
![image](https://cloud.githubusercontent.com/assets/9992593/9624688/e85403ac-5103-11e5-952b-a441bda4e7cf.png)

[2015-09-02 15:46] mchandschuh opened #157 "RollingWindow<T> enumerates in reverse time order"
The `RollingWindow<T>` class provides a reverse time based indexing system common to trading platforms where `rollingWindow[0]` is the most recent piece of data and `rollingWindow[n]` would be the piece of data from n bars in the past.

For convenience, `RollingWindow<T> : IEnumerable<T>` but it enumerates the windows using the same indexing scheme, causing the enumeration to process backwards in

[2015-09-02 15:48] mchandschuh commented on #156
The Statistics computation is currently being reworked in the following issue: https://github.com/QuantConnect/Lean/issues/30. Closing this issue as it's a known problem and should be OBE with the new implementation. Thanks for submitting!

Also, this can be safely ignored. What's it's saying is that there was an extra data point in the benchmark array vs the performance array.

[2015-09-02 15:48] #156 closed

[2015-09-03 02:02] AnObfuscator commented on #157
I really think rollingWindow[0] should give the same element as the first element given when using an enumerator. Doing otherwise will be maddeningly inconsistent, at least to me as a developer.

As a compromise, maybe offer a "ChronologicalEnumerator" method, that will always iterate according to chronological order (regardless of the order in which they are added to the window)?

Regardless, the

[2015-09-03 04:15] mchandschuh commented on #157
I had similar thoughts which is why I implemented it that way in the beginning. I've heard some users of the code base state it is a little unexpected to enumerate in reverse chronological order.

Would it be crazy to have the indexing use negative numbers?

window[-1] gives you the previous value, this way the indexing and enumeration would be in sync?

[2015-09-03 08:54] StefanoRaggi commented on #157
A C# developer would expect to refer to rollingWindow[0] as the first element added to a collection, but the majority of retail trading scripting languages (NinjaScript, EasyLanguage, etc.) use the "barsAgo" pattern (rollingWindow[0] is always the current/last element of the data series).

My vote is to keep the current implementation for the indexer: it makes life easier for a strategy developer

[2015-09-03 19:08] bizcad commented on #157
@StefanoRaggi  +1

I vote for retaining the current barsAgo implementation for the indexer.  If the developer wants to Array notation, use an array.

While debugging, I noticed that the underlying _list<{Class}> is not in the same sequence as the indexer, particularly when the indicator !IsReady().  So trying to use the for loop in @mchandschuh comment would lead to frustration and errors.  I lear

[2015-09-03 23:09] StefanoRaggi commented on #30
I just committed the [first part of Step 2] (https://github.com/StefanoRaggi/Lean/commit/c723c6340f504aa123ed87060fab50d9335c8778) with some metrics that can be calculated from a list of trades only.

There are many other stats to be added, but a quick review at this point could be useful.

This first release of the AlgorithmPerformance only has a constructor with the list of trades as an argument

[2015-09-04 03:08] nii236 commented on #149
For Debian based distros, installing `fsharp` separately to Mono worked. Not sure about OS X but I resolved it by removing the relevant projects that used F#.

[2015-09-04 03:08] #149 closed

[2015-09-04 04:58] jaredbroad commented on #149
Please submit a read me pull request for readme files in the visual basic
project, we need the 'apt-get install mono-vbnc' for linux os,

I don't think mono supports vb 4.5,

Check out the java readme for an example:
https://github.com/QuantConnect/Lean/blob/master/Algorithm.Java/readme.md

On Thu, Sep 3, 2015 at 11:08 PM, John Nguyen <notifications@github.com>
wrote:

--
Jared Broad

www.quantcon

[2015-09-04 05:43] AnObfuscator commented on #149
Yeah, the VB Project's TargetFrameworkVersion was the culprit. Setting it to 4.0 allowed the solution to build.

[2015-09-04 06:02] bizcad commented on #30
@StefanoRaggi I do not mean to butt in here, but I have done some work with creating Trades and I hope I can offer some small insight.
I pondered quite a while how to match transactions into trades, particularly when buys and sells do not match quantities, such as with partial trades and adding to a position on nice long run.  I decided on a dual stack recursive mechanism.  It fulfils both of your

[2015-09-04 06:57] nii236 opened #159 "No develop branch?"
I get kind of nervous when making pull requests into `master` instead of `develop`. Any chance we can have develop branches to develop against?

[2015-09-04 19:34] StefanoRaggi commented on #30
@bizcad Currently I am working on the [AlgorithmPerformance] (https://github.com/StefanoRaggi/Lean/blob/statistics/Common/Statistics/AlgorithmPerformance.cs) class, which takes as input a list of [Trade] (https://github.com/StefanoRaggi/Lean/blob/statistics/Common/Statistics/Trade.cs) objects generated by the [TradeBuilder] (https://github.com/StefanoRaggi/Lean/blob/statistics/Common/Statistics/Tr

[2015-09-06 01:44] chutes commented on #4
I just added an example psar on the forums.

during testing, my test fails after 83 updates on this line...
5/15/2013 12:00:00 AM,164.98,166.45,164.91,166.12,161.7411

[2015-09-07 19:52] jaredbroad commented on #159
@nii236, you can push to any branch in your personal account and then sync to master.

[2015-09-07 19:52] #159 closed

[2015-09-07 20:08] jaredbroad commented on #157
Thanks for feedback @StefanoRaggi, @bizcad, @AnObfuscator. Will leave the system in its current form as a "barsAgo" indexer.

[2015-09-07 20:08] #157 closed

[2015-09-07 23:49] nii236 commented on #87
PostgreSQL is an unsuitable database for the use case of QC and I will not be pursuing this specific technology further.

[2015-09-07 23:49] #87 closed

[2015-09-15 05:03] bizcad commented on #30
@StefanoRaggi   Thank you for adding the Fees to the OrderEvent.  I have been wanting to get that from the order.

[2015-09-15 22:44] jaredbroad opened #166 "Options Support"
Support for options trading. Broadly speaking this will have several pieces. Lets scope out the depth of the changes needed here:

PHASE 1:
LEAN
- New security type
- Options fill models
- Option pricing/fee models
- New option data type which holds the strike price/deltas/thetas etc for a specific option-strike-call/put-expiration..
- Option symbol builder (combining all the pieces which make the

[2015-09-15 22:48] jaredbroad commented on #166
Mentioned in this forum post: https://www.quantconnect.com/forum/discussion/769/work-with-quantconnect-options-expert-required

[2015-09-16 17:24] AlexCatarino commented on #166
I can't call me an options expert or trader, because I am neither, but since I am a [CQF alumni] (http://www.cqf.com/Alumni/graduates), I think I can take care of phase 1.

[2015-09-16 18:27] jaredbroad commented on #166
:) cool, lets scope out the design. Im sure there's things I've forgotten --- what else needs to be written to support options? Step by step -- from parsing the data, storing the data, creating objects... I think the work will touch all of LEAN at different levels.

[2015-09-16 18:47] AlexCatarino commented on #166
I think that parsing and storing the data would be similar to equities.
The objects would have the members that you mentioned and the model to calculate it. I think we have to use "vanilla" Black-Scholes to get implied volatility and the greeks as a default and the user could implement his/her own model replacing Black-Scholes if he/she wants to.
We could implement options classical strategies suc

[2015-09-16 20:40] guarilha commented on #166
I have worked with Options Trading.
If you guys need some help I'd be happy to contribute.

I think QuantLib has two great lists: one for [pricing models](http://quantlib.org/reference/group__engines.html) and one for [financial instruments](http://quantlib.org/reference/group__instruments.html) that could be used as reference.

[2015-09-16 20:42] AlexCatarino commented on #166
1. Data
Step 1: Tool for converting from X-popular data provider into LEAN data format.
Step 2: Storing the Data.
Step 3: Parsing the Data
Concerning the storage, the folder with tick/second/minute/hour files must include the underlying name, type (call or put), style (european or american), strike and expiration month and year. Or the folder only include the underlying name and the files hold the

[2015-09-17 00:49] #30 closed

[2015-09-17 03:05] jaredbroad commented on #166
Good idea @AlexCatarino: lets start piece by piece -- creating and parsing the data is a good first step. Thanks @guarilha for the offier, please contribute to the thread! :)

Does the style vary within a market? (e.g. USA is all non-exercisable) are there both styles in European markets? I think we need the full date to handle weekly options as well

The strike is sometimes fractional right - so

[2015-09-17 03:10] jaredbroad commented on #166
Tagging some others who've registered interest in options: @rbohac @cuda @craig-stevenson

[2015-09-17 06:56] lssilva commented on #166
Wow Super, we are going to get Options support. It would be nice on the top-level to have some abstract order combos like Spreads, Iron-Condor, Calendar.
It makes a bit hard to code the execution model but it is really a good help when writing the algo.

[2015-09-17 11:28] AlexCatarino commented on #166
@jaredbroad According to the CBOE, many index options are [European-style](http://www.cboe.com/learncenter/concepts/beyond/terminology.aspx). I couldn't find any info that would tell me whether weekly options are all American or European-style.

So far, I got the following format to handle all kinds of options:
* Data/options/usa/ underlying / timespan / type / style / expirationdate / yyyyMMdd_17

[2015-09-17 16:58] jaredbroad commented on #166
Great to know US has both styles,

I believe there's still only one "type" per date, " (i.e, Weeklys are not listed if they would expire on a 3rd Friday or if a Quarterly option would expire on the same day)." -- does this mean if the Weekly and Monthly line up, the monthly wins. I don't think there really is a "type" its just a date the option sold for, is there some page where we can see two ide

[2015-09-17 17:09] jaredbroad commented on #166
"Are we going to put together in the same "options" folder equity options, fx options, commodity options, etc?" -- Good question, do you know the variation of the namespace for the different types? What format are each name?

Whether we split them up physically in data should depend on whether the Option object which is generated is different across each sub-option-class. i.e. What extra informati

[2015-09-17 17:47] rbohac commented on #166
I thought it would be handy to throw some possible use cases on here:

Short Put & Vertical use case
1) I'll commonly want to enumerate expiration dates for an underlying. As an example I'll want to find a monthly expiration nearest to 45 days out.
2) I'll commonly want to select strike prices based on the greeks. As an example, I may look for a PUT with nearest to a delta of -0.05
3) From number

[2015-09-17 18:21] AlexCatarino commented on #166
@jaredbroad
I just read specifications [here](http://www.optionsclearing.com/clearing/clearing-services/options.jsp) and I understand that all is fine, we don't need to make an explicit distinction between monthly or weekly or quarterly options which is wonderful because it would imply different pricing models.

The difference between options for different underlying security is the cost-of-carry.

[2015-09-17 19:22] mchandschuh commented on #166
@AlexCatarino @rbohac  - can you explain the importance of the distinction between the weekly/monthly/quarterly contracts? My understanding is that  the weeklys are just offered closer to the expiry, so CBOE states that weekly contracts are available for a consecutive six weeks.

Are there benefits to trading one verse the other? I would imagine the open interest would be higher in the monthly/qua

[2015-09-17 19:40] AlexCatarino commented on #166
Hey, @mchandschuh! Fact is that I've never looked closed into weeklys. I'm learning here that there's no actual difference from the quantitative finance perspective. I hope other could tell us if there is a difference from the options trading perspective (apart of liquidity and open interest, of course).

[2015-09-18 02:31] glyphard commented on #166
Weeklys are actually quite liquid in some names like SPY and QQQ.  Take a look at the open interest and the volume.  They are traded primarily on the nearest few weeks to the extent that demand supports it, and they are priced just like any other option.

Weeklies are popular with hedgers, but have also become quite popular with premium sellers who want to have steeper theta decay in their portfol

[2015-09-18 18:02] jaymjordan commented on #166
This is fantastic. I just stumbled on QuantConnect a couple of days ago and was disappointed to see options weren't supported yet. It's great to see some action here as I haven't found anyone else doing anything around options.

A couple of thoughts on the discussion so far:

Weekly Options:
As @glyphard pointed out I find them useful for premium selling. There can be issues with liquidity and you

[2015-09-18 18:36] jaredbroad commented on #166
Welcome @jaymjordan! :)

@all,
In general its important to separate engine concerns from API concerns. I think we're all in agreement there's no physical difference in the data between a weekly/monthly/quarterly option. So for the purposes of the engine we'll treat the data as the same. We can separate them in the API once we get there.

Now we've roughly figured out the data structure, I think it

[2015-09-18 19:12] AlexCatarino commented on #166
@jaredbroad Yes, I can take the data conversion.
By the way, I'll be moving my GitHub project on converting Bovespa data into LEAN format.

I don't know about vendors. You do the shopping, I cook the dinner. ;-)

[2015-09-18 22:10] jaredbroad commented on #166
@AlexCatarino - excellent, I've chatted with a few vendors and will pick one and get a sample file to begin the conversion.

[2015-09-21 19:59] tzaavi opened #168 "Time zone inconsistency"
When data is saved into a ChartPoint the time is converted to UTC, this makes sense case it save the time as unix timestamp.

The problem that in deferent place in the application the time zone set differently for instance in the tick data or TradeBar the time zone is unspecified and the UTC conversion is adding 4 hours (incase or ETC) to the time.

In SampleEquity method the time zone is also uns

[2015-09-21 20:14] mchandschuh commented on #168
Can you reference some lines of code? I believe we use UTC as the input time for [SampleEquity](https://github.com/QuantConnect/Lean/blob/c67ff638f4d33a8a50a401476035fc795787211f/Engine/AlgorithmManager.cs#L230), [SamplePerformance](https://github.com/QuantConnect/Lean/blob/c67ff638f4d33a8a50a401476035fc795787211f/Engine/AlgorithmManager.cs#L239), and [SampleBenchmark](https://github.com/QuantConn

[2015-09-21 22:18] tzaavi commented on #168
SampleEquity is also being called from [here](https://github.com/QuantConnect/Lean/blob/c67ff638f4d33a8a50a401476035fc795787211f/Engine/Results/ConsoleResultHandler.cs#L594) and time zone in this case is unspecified.

Also all the ChartPoint that generate from Plot and Plot Indicator the time zone is unspecified

[2015-09-22 01:44] bizcad opened #169 "RollingWindow does not reset properly."
When a RollingWindow is reset, until it .IsReady, the values retrieved by the array notation are not proper.  The fix is to reset the _tail to 0 after a reset.

Discussion

Using the current code...
[code]

The following test fails.
[code]

The change is to also reset the _tail to 0.
[code]

With the fix applied, the Test passes.  In addition I have test project which compares the results with an

[2015-09-23 17:30] chrisdk2015 opened #172 "Setting DesktopResultHandler returns a ConsoleResultHandler"
On latest Mono/Ubuntu 14.04 here, the line

Config.Set("result-handler", "QuantConnect.Lean.Engine.Results.DesktopResultHandler");

in LeanEngineWinForm.cs doesn't result in a DesktopResultHandler getting returned but a ConsoleResultHandler.

I couldn't figure out why my cast to a DesktopResultHandler failed but now I know.

If you look in PollingOnTick you can see the type.

[2015-09-23 17:47] StefanoRaggi commented on #172
The following line should be added in the `LeanEngineWinForm.Main()` function:

[code]

[2015-09-23 17:56] chrisdk2015 commented on #172
Yes, then it works. Thanks.

[2015-09-23 17:58] #172 closed

[2015-09-23 20:58] jaredbroad commented on #166
OK after chatting with some vendors we might need to process the data to get it into our format, something we can use for options backtesting. What do you guys think about this data: 1 Minute Aggregations: With Values of:

Time, Underlying, Strike, Expiration, Trade(Open, High, Low, Close), Quote(Open(Bid,Ask), High(Bid,Ask), Low(Bid,Ask), Close(Bid, Ask)), TradeVolume

If there were no trades in

[2015-09-23 22:10] glyphard commented on #166
You also need to include the option type( e.g.  put or call). IB's API call's this property 'Right' but that's always been a confusing property name, IMHO...  So I suggest choosing something more descriptive, like 'OptionType'.

[2015-09-25 21:21] mchandschuh opened #174 "Add LeastSquaresMovingAverage indicator"
Recently shared on the [forums](https://www.quantconnect.com/forum/discussion/785/moving-linearregression) was a least squares moving average implementation, basically a form of moving linear regression.

[2015-09-27 02:26] jaredbroad opened #176 "Python Algorithm Instances Break Setting IHistoryProvider"
Python algorithms die shortly after start while setting IHistoryProvider in Engine

[2015-09-27 05:28] desimonk opened #177 "Divide by 0 when Live trading with IB."
Bug fix request.
See the discussion: https://groups.google.com/forum/#!topic/lean-engine/i3HBPn9Uo0E

20150926 20:56:57 ERROR:: BrokerageSetupHandler.Setup():  Attempted to divide by
 zero.
   at System.Decimal.FCallDivide(Decimal& d1, Decimal& d2)
   at System.Decimal.op_Division(Decimal d1, Decimal d2)
   at QuantConnect.Brokerages.InteractiveBrokers.InteractiveBrokersBrokerage.Get
UsdConversion

[2015-09-27 18:38] mchandschuh commented on #177
Interestingly this code hasn't changed since the end of April. Looking at the error/stack trace, it looks like [this line](https://github.com/QuantConnect/Lean/blob/master/Brokerages/InteractiveBrokers/InteractiveBrokersBrokerage.cs#L630) gets runs but is set to a zero value. Do you know what currency it is trying to get a conversion for?

[2015-09-27 21:09] jaredbroad commented on #177
USDCAD, isolated to a Saturday. We did see some failing re-deploys for IB
as well (a few IB ones died yesterday for some reason)

Perhaps we need a more reliable/24-7 API for the initial fx value setting?

On Sun, Sep 27, 2015 at 2:38 PM, Michael <notifications@github.com> wrote:

--
Jared Broad

www.quantconnect.com
Phone-USA: +1 917 327 0556
*Democratizing Finance, Empowering Individuals*
Facebo

[2015-09-28 01:43] desimonk commented on #177
Canadian.  Both usa and canadian forex market was closed at that the time I
was trying this.

You are right that it is not related to code churn but rather time at witch
I tried this.

JB and I think this is the same reason why my live deployment was getting
runtime error.
On Sep 27, 2015 2:38 PM, "Michael" <notifications@github.com> wrote:

[2015-09-28 19:31] mchandschuh commented on #176
Fixed in https://github.com/QuantConnect/Lean/commit/d7520d2a6a411b6a09563c0a0c2d534b9094ed7c

[2015-09-28 19:31] #176 closed

[2015-09-29 08:22] chrisdk2015 opened #178 "Set correct data queue handler for live trading with IB"
Could you in config.json set

"data-queue-handler": "QuantConnect.Brokerages.InteractiveBrokers.InteractiveBrokersBrokerage",

in the Quantconnect.Lean.Engine project so IB works live out of the box?

Thanks.

[2015-09-29 08:24] chrisdk2015 opened #179 "DesktopResultHandler should route OrderEvents"
Could you add following line to OrderEvent in DesktopResultHandler:

Messages.Enqueue(new OrderEventPacket(_algorithm.AlgorithmId,newEvent));

so we can handle orderevents in a graphical user interface?

Right now I have to add this everytime I pull from github.

[2015-09-29 15:13] jaredbroad commented on #178
Maybe not the default for all, but we should definitely make an
IB environment configuration for local use, this would be a common request
:)

Best,
Jared

On Tue, Sep 29, 2015 at 4:22 AM, chrisdk2015 <notifications@github.com>
wrote:

--
Jared Broad

www.quantconnect.com
Phone-USA: +1 917 327 0556
*Democratizing Finance, Empowering Individuals*
Facebook <http://www.facebook.com/QuantConnect> | Tw

[2015-09-29 15:18] jaredbroad commented on #179
Good catch!

I'm gutting and rewriting the result handlers & messaging handlers to
support local HTML5 charting, this should be done in the next few days.
I'll make sure I includes this in the re-write,

Please feel free to submit a pull request, we've written a contributing
guide here:
https://github.com/QuantConnect/Lean/blob/master/CONTRIBUTING.md

JB

On Tue, Sep 29, 2015 at 4:24 AM, chrisdk20

[2015-09-30 18:47] mchandschuh commented on #177
This should be fixed in https://github.com/QuantConnect/Lean/commit/a6da4e15bf5340d70abad611cc47a24d8d95a3ac

[2015-09-30 18:47] #177 closed

[2015-10-01 12:13] chrisdk2015 opened #180 "For timezone CEST market never opens in live trading + tick.Time is possibly incorrect"
My local PC is in timezone CEST where I use the IBController (Mono/Linux).

In LocalMarketHours.cs

public bool IsOpen(TimeSpan time, bool extendedMarket)

return time >= _marketOpen
               && time < _marketClose;

always returns false because _marketOpen and _marketClose is set to 00:00:00 (?).

time is also in my local time, which is not correct?

I added -6 hours to get to NY time in In

[2015-10-01 16:15] chrisdk2015 opened #181 "EndTime in TradeBar using the History function possibly incorrect"
EndTime in TradeBar is supposed to be closing time.

So for a daily bar 30th of september, EndTime should be 30th of september, no?

Because I am using the History function and there seems to be an offset of 1 day.

For BIB

Date / Open / High / Low / Close / Volume / Adj.close

Oct 8, 2013	128.50	128.85	117.32	117.51	559,600	29.38
Oct 7, 2013	132.08	132.66	128.65	128.69	177,200	32.17

If I have t

[2015-10-01 16:19] chrisdk2015 commented on #181
https://drive.google.com/file/d/0B95K6AyeZ37SNDVQZmpLbDk5VUE/view?usp=sharing

Bib.zip

and

https://drive.google.com/file/d/0B95K6AyeZ37STVNKUE9tbU9mbGM/view?usp=sharing

screenshot of monodevelop in debugger.

[2015-10-01 16:19] mchandschuh commented on #181
The daily data on October 7th is dated as follows:
`bar.Time` will be midnight on October 7th
`bar.EndTime` will be midnight on October 8th

[2015-10-01 16:31] chrisdk2015 commented on #181
I see, so I got confused by intellisense, it was hiding Time from the base class.

[2015-10-01 16:32] mchandschuh commented on #181
Looks like a possible bug in `SubscriptionDataReaderHistoryProvider` -- the bar end times are fine, it just appears to be grabbing the wrong data. Possibly need to back out the resolution in the request object since the `SubscriptionDataReader` has filters that allow any overlap (time->endtime) with requested interval.

In your example, that function call should return zero elements, since 2013.10

[2015-10-01 16:34] mchandschuh commented on #181
More information, the reason this is a bug is because when requesting daily data on October 7th you shouldn't be able to get the daily data FOR October 7th (end time October 8th), this would be blatant look ahead bias as you would be able to retrieve the close of the current day.

Have a fix working locally, will push shortly. Thanks for reporting the bug!!

[2015-10-01 16:40] chrisdk2015 commented on #181
Aha, it makes sense, since of course you cannot request historical data in advance.

Sometimes just fiddling around with the code will expose such things! :)

[2015-10-01 17:10] mchandschuh commented on #181
Fixed in https://github.com/QuantConnect/Lean/commit/5fadd0466a1346b8032126920687f592a63f23fe

[2015-10-01 17:10] #181 closed

[2015-10-01 19:49] mchandschuh commented on #180
This may be an issue loading data from the market-hours-database. This code is located in the `SecurityExchangeHoursProvider` [here](https://github.com/QuantConnect/Lean/blob/master/Common/Securities/SecurityExchangeHoursProvider.cs#L129)

The only time those two values should be equal to zero is when the market is closed all day (Saturday/Sunday for equities).

[2015-10-01 19:49] mchandschuh commented on #180
A nice test would be to change your computer's time zone and see if you experience the same behavior.

[2015-10-02 07:05] chrisdk2015 commented on #180
It reads the file alright but

in LocalMarketHours.cs

private static readonly IReadOnlyDictionary<DayOfWeek, LocalMarketHours> Open = new ReadOnlyDictionary<DayOfWeek, LocalMarketHours>(
            Enum.GetValues(typeof(IsoDayOfWeek)).Cast<DayOfWeek>()
                .ToDictionary(x => x, x => new LocalMarketHours(x, TimeSpan.Zero, TimeSpan.FromTicks(Time.OneDay.Ticks - 1)))
            );

Tim

[2015-10-02 20:10] mchandschuh commented on #180
That private static is a definition for exchanges that are considered always open. If you place a breakpoint in the `SecurityExchangeHoursProvider` [here](https://github.com/QuantConnect/Lean/blob/master/Common/Securities/SecurityExchangeHoursProvider.cs#L89) you should be able to intercept the request to get your exchange hours.

Market open as 00:00:00 sounds like forex hours during a weekday. W

[2015-10-06 08:47] chrisdk2015 commented on #180
Security types: all equities (leveraged ETFs) like UPRO, TQQQ, NUGT etc.

I tried to change the timezone on my PC, didn't have any effect.

[2015-10-06 14:13] jasonnator commented on #180
I had the same issue on a different project. The solution ended up being using DateTimeOffset instead of DateTime.

[2015-10-06 19:57] mchandschuh commented on #180
Internally we use Jon Skeet's NodaTime library for dealing with time zones. The issue here is the source of time in the InteractiveBrokersBrokerage implementation uses DateTime.Now instead of the local machine settings agnostic DateTime.UtcNow + a time zone conversion to NewYork (or whatever the desired output time zone may be)

[2015-10-06 20:06] #180 closed

[2015-10-07 08:14] chrisdk2015 opened #184 "Backtest gives number overflow from PortfolioStatistics"
Possibly a mono/Linux issue.

In https://github.com/QuantConnect/Lean/blob/master/Common/Statistics/PortfolioStatistics.cs#L178 I placed a breakpoint.

On my machine using the attached algorithm the code enters line 178 twice. Once with correct values, next time fractionOfYears becomes zero and you get number overflow because of divide by zero later on.

Algorithm:

https://drive.google.com/file/d

[2015-10-12 01:10] Jay-Jay-D opened #186 "PSAR indicator bug"
I found a bug in the ParabolicStopAndReverse indicator. The indicator runs is always estimated with the default configuration.
In [this backtest] (https://www.quantconnect.com/terminal/results/51559780b3671dfdf45d8786f2a0d5a7) I defined three PSA, one with default factors, and the three are equal in all the estimations.

[2015-10-13 21:02] jaredbroad commented on #4
Closed in commit 788b598

[2015-10-13 21:02] #4 closed

[2015-10-13 21:18] mchandschuh commented on #186
I just tried plotting the the PSARs and they look good to me :)

This plot shows price along with the three PSARs made from your algorithm, here's the code:
[code]

@Jay-Jay-D - maybe there's a bug in your algorithm?

![2015-10-13 17_16_52-quantconnect com - algorithmic trading platform](https://cloud.githubusercontent.com/assets/531416/10468665/4a8cfce6-71ce-11e5-9c9e-0a09c321d75b.png)

[2015-10-13 22:07] mchandschuh commented on #186
So a little more playing around and I was able to repeat what you saw... but only when I don't set the name of the indicator... very peculiar.

[2015-10-13 22:31] mchandschuh commented on #186
Figured it out, totally a bug! Great find @Jay-Jay-D, the issue is with the constructor, it looks like it uses the input parameters, but it's actually only using them for the `string.Format` call!

Check out this [line](https://github.com/QuantConnect/Lean/blob/master/Indicators/ParabolicStopAndReverse.cs#L60).

It's specifically using all the default values! Will submit a fix today.

[2015-10-13 23:03] Jay-Jay-D commented on #186
I'm so glad to help.

[2015-10-14 16:47] #186 closed

[2015-10-14 17:16] mchandschuh commented on #186
This was fixed in https://github.com/QuantConnect/Lean/commit/431bb54398b684a1163cfc62d2ebb77fd3bcf51c

[2015-10-15 16:19] jaredbroad commented on #21
Closed in 4ae1f4f5b61

[2015-10-15 16:19] #21 closed

[2015-10-20 14:01] Jay-Jay-D commented on #174
I take it.

[2015-10-20 20:22] AlexCatarino commented on #166
I have finished a first version of the data converter where we read the data from a vendor and write it on Lean format. Next, we will feed Lean with this data.
I've noticed that the Tick and TradeBar object need to be extended to incorporate options information (strike price, expiration date, call or put, etc). Also I think that Tick and TradeBar are not quite ready to accept quote data. For examp

[2015-10-21 14:31] Jay-Jay-D commented on #174
Michael, please check [this first](https://www.quantconnect.com/terminal/results/2edc2f993f30fffff4589238554a4d5c) implementation.

[2015-10-21 15:32] mchandschuh commented on #174
The implementation looks correct, I wonder if we could conjure up an on-line implementation. My only issue with this implementation is that the compute time is dependent on the period for each time step, so as the period increases, the compute time also increases.

In order for this to be ready for a pull request we'll need to add tests and an LSMA helper function similar to [this](https://github.

[2015-10-21 16:00] jaredbroad commented on #166
This is a tricky question! It covers virtually all aspects of data + options and future proofing! :) I had a brain storming session with Michael and this is what we sketched up so far:

0> Adding BidSize and AskSize to the Tick type will allow it to support all the tick information required.

1> Like Equity and Forex, Option type can be the security:
__Option : Security__

3> Add an IContract type

[2015-10-21 16:05] Jay-Jay-D commented on #174
I think we can make the estimation faster but not independent of period. I'm thinking in avoiding the `window` object sorting and casting by using a `RollingWindow<double>` updated at every step and defining the t vector backwards.

What do you think?

[2015-10-21 16:37] AlexCatarino commented on #166
Concerning the data conversion and parsing, I don't have nothing to add to the solution @jaredbroad and @mchandschuh 's brainstorm gave us for now.
In order to change LeanDataWriter to convert the vendor data properly (without relying on alternative objects for Tick, TradeBar and QuoteBar) and parse the converted data into Lean, we need to parts of all @jaredbroad listed from 1 to 4. For this phas

[2015-10-21 18:12] chrisdk2015 commented on #96
I tried to do a genetic optimization using the lean engine but it hangs on second run like Vincent-Chin is saying.

I looked around and somewhere an order gets status response error and hangs the engine.

In the terminal it just says Isolator.ExecuteWithTimeLimit a few times.

Setting the engine instance to null and making a new instance doesn't help.

Maybe there is something I am missing?

You c

[2015-10-21 18:22] glyphard commented on #166
Jared's proposed solution makes sense to me.

The only piece that I'm unclear on is how you tell that the option you are looking at in the 'ondata' is a put or a call.   I may have missed that detail in the thread.

[2015-10-21 19:26] jaredbroad commented on #166
Hey @glyphard -- it would be specified in the OptionContract : IContract, which would live on the base data. Then the Collection of TradeBars / QuoteBars in the OptionChain for this timestep would have all the information it needs to be searched by the UX layer.

[2015-10-21 19:27] mchandschuh commented on #96
Without actually looking into it, I would recommend completely reinitializing everything from scratch. This means for each lean engine create new instances of the system and algorithm handlers. In order to do this you'll actually need to not use the FromConfiguration which uses the Composer which will cache the results. Instead you can 'new up' the handlers directly, or what I would do, I would la

[2015-10-21 20:21] glyphard commented on #166
Ok, makes sense.
Thanks for clarifying.

[2015-10-22 07:39] chrisdk2015 commented on #96
Ok, I have something that works now that I just committed.

https://github.com/chrisdk2015/LeanOptimization

More hacky than clean but it works.

However on my machine, old laptop with Intel mobile CPU U7300 @ 1.30 GHz running Ubuntu 14.04 what slows the optimization down is the step from exiting the algorithm manager, waiting for the threads to exit and until the next engine is up and running.

T

[2015-10-22 08:04] chrisdk2015 commented on #184
In PortfolioStatistics.cs I have added a check for zero years

[code]

which seems it makes it work. At least this doesn't divide by zero then.

[2015-10-23 01:30] bizcad commented on #96
@chrisdk2015

Good work.

While my machine is not the fastest around it is a 64 bit Win10 and is faster than yours.  I cloned your program and after some fiddling to add Accord, got it to compile and run.  As I am sure you know, it hung up for 30 seconds or so in Engine.cs at
<pre class="prettyprint prettyprinted">
                //Wait for the threads to complete:
                var ts = Stopwa

[2015-10-23 06:54] chrisdk2015 opened #190 "Genetic optimization"
Created this issue for tracking the genetic optimization

https://github.com/chrisdk2015/LeanOptimization

It uses the GAF framework and is currently for running on the command line.

Howto parallize this would be nice to know. Maybe one needs to change the GAF framework.

[2015-10-23 07:27] chrisdk2015 commented on #96
Thanks Nick,

I have created a new issue so not to pollute this issue

https://github.com/QuantConnect/Lean/issues/190

Added your suggestions to the code and now my PC runs at 100% CPU now which means it works as it is supposed to without delays.

Also multiple variables are supported now.

Note: the operator I have for crossing over has not been fully tested.

[2015-10-23 14:37] Jay-Jay-D commented on #174
I made the test and everything works fine. I'll make the PR today I think.

BTW, I have some modifications to the Momersion too, but I don't know if worth to open a new Issue. How is the best way to proceed?

[2015-10-24 22:01] StefanoRaggi commented on #184
@chrisdk2015

I tested your algorithm and data on Windows and was not able to reproduce the error even when the variable fractionOfYears is zero. According to [MSDN](https://msdn.microsoft.com/en-us/library/6a71f45d(VS.80).aspx) a double division by zero never throws an exception, but returns Infinity.

The reason why the function is called multiple times (740 times in your case) is that Statistic

[2015-10-24 22:36] mchandschuh commented on #184
Merged in https://github.com/QuantConnect/Lean/commit/52dfe34b867558256b455203a2c5ec07251d2ff9

[2015-10-24 22:36] #184 closed

[2015-10-25 04:49] bizcad commented on #184
I downloaded the algorithm and ran it in [assembly: AssemblyVersion("2.1.4.2")]  of the Engine.

I had to add a reference to QuantConnect.Algorithm.CSharp for Math.Net to get it to compile.

I got 579 calls to CompoundingAnnualPerformance, and no Exception thrown.  Windows 10 VS 2013 Community.  I used my GoogleFinance download of daily data.

When I ran it in last Thursday's version [assembly: As

[2015-10-25 16:57] chrisdk2015 commented on #184
Ok, on Mono/Linux a clean program that just divides a double with double zero also gives infinity.

For a decimal it gives a DivideByZero exception.

Maybe something else is going on in Mono that triggers the number overflow possibly a memory corruption somewhere but who knows.

[2015-10-26 17:29] #118 closed

[2015-10-26 17:43] mchandschuh commented on #166
Just to clarify, the addition of the `IContract` abstraction will be done separately. It will require some serious changes and thought to the way essential subscription information is passed around the system.

Looking at he roadmap, we should be able to skip number 3 ( add `IContract`) and continue with the `IBar` implementation. Also, work can continue on the concept of the `OptionChain` which s

[2015-10-27 01:37] bizcad commented on #190
@chrisdk2015

I got the genetic algorithm running without blurring by on the console.   However, after 1723 trials, it blows up my Visual Studio.  I mean VS just quits with no notice or anything.  It has happened twice, once with console blur and once without.  It seems to happen in the same place but I cannot catch an Exception.

I was wondering how many trials were needed to resolve the genetic

[2015-10-27 08:41] chrisdk2015 commented on #190
@bizcad

I think there is a memory leak somewhere.

At least here when I run start running it the memory usage keeps going up.

Maybe you can put the memory usage in the log file to see if that is the reason.

I tried to do a profiling here with mono but I just get segfaults so it is of no help. Maybe you could profile it in VS? I think the profile there is better.

With the OptimizationResultHand

[2015-10-27 20:27] bizcad commented on #190
@chrisdk2015 I am not experienced with the Microsoft profiler, but I tried running it.  The data file filled up what was left of my C:\ drive.  :o(  I deleted the file and ran again stopping after about 200 iterations.  The resulting report did not tell me anything useful.  I dumped the profiler and ran the Program.cs.

I watched the Task manager for memory usage and it did not grow for 2.5 hours.

[2015-10-28 01:05] mchandschuh commented on #146
In 1.2, we should move the ApplyFunds method to a new `ISettlementModel` which would live on the `Security` object.

[2015-10-28 13:55] rbohac commented on #166
Something to think about. How will a user request to watch pricing updates for a particular option? We will need to have something that limits this.

For instance AddSecurity(SecurityType.Option, Symbol, Resolution.Minute,Expiration,Strike,Put);

There is too much data to continuously refresh the entire option chain for a security.

Also note that brokers (IB for sure) have limits on the number of

[2015-10-28 15:01] glyphard commented on #166
There is an important distinction to draw here.

IB's limit is in place because their data is live, not for back testing,
and as such data has to flow out from a ticker plant in a data center to
quote terminals (TWS client) and they have to pay egress charges for the
bandwidth that their data consumes.  They place that limit on live option
quotes so that they don't have every customer asking for a

[2015-10-29 06:18] chrisdk2015 opened #200 "Should HandleUpdateAccountValue in InteractiveBrokersBrokerage use CashBalance?"
Discussion

https://groups.google.com/forum/#!topic/lean-engine/NPPJwvUIKtk

Basically I get wrong PortfolioValue and Cash when using

AccountValueKeys.NetLiquidationByCurrency

When I use AccountValueKeys.CashBalance

then I everything is as it is in TWS, Cash meaning Cash available etc.

[2015-10-29 16:07] #200 closed

[2015-10-31 12:20] Jay-Jay-D opened #203 "Rate of Change Indicator bug"
[This line](https://github.com/QuantConnect/Lean/blob/master/Indicators/RateOfChange.cs#L57) should be:
[code]
If not is a simple difference / momentum instead of rate of change.

[2015-10-31 21:32] mchandschuh commented on #203
That makes more sense to me as well. The source for our test data is [freestockcharts](www.freestockcharts.com). They have a Rate of Change indicator defined [here](http://www.freestockcharts.com/help/Content/Indicators/Rate_of_Change.htm).

After some searching, I couldn't find anyone else who defines Rate of Change like that.  [Here's](http://stockcharts.com/school/doku.php?id=chart_school:techn

[2015-10-31 22:41] Jay-Jay-D commented on #203
IMHO, given the simplicity of the operation and the concept, an external data source to check the indicator is not needed.

As always, I'm glad to help.

[2015-11-03 16:59] gururise commented on #190
Been trying to get this running the past two days, I keep crashing on line 356 in Program.cs:
`var res = (double)rc.Run (val);`
On the terminal, I get this error:

  at QuantConnect.Lean.Engine.Engine.Run (QuantConnect.Packets.AlgorithmNodePacket job, System.String assemblyPath) [0x00305] in /home/gene/Downloads/Lean/Engine/Engine.cs:249

In my IDE (mono-develop), I get:

[2015-11-03 17:28] mchandschuh commented on #190
20151103 08:52:34 ERROR:: Loader.TryCreateILAlgorithm(2): Sequence contains
no matching element

This message sounds like the Loader was unable to find the algorithm
specified in configuration.

The function `_multipleTypeNameResolverFunction` gets invoked with all type
names resolved from the assembly to select a single algorithm type to
instantiate. In many places in the code, the Loader is init

[2015-11-03 18:39] bizcad commented on #190
@gururise If you copied the code from @chrisdk2015 Optimization project on github, my guess is your problem is on line 154 of Program.cs

154 			_resultshandler = new DesktopResultHandler ();

Try changing all the DesktopResultHandler to ConsoleResultHandler.  DesktopResultHandler expects a Desktop application to write results to.  In the console application there is no desktop.

Also take a look

[2015-11-04 18:29] #169 closed

[2015-11-04 19:38] mchandschuh commented on #169
Merged in https://github.com/QuantConnect/Lean/commit/93ebcf2a8dbff1e733adba1cbebbb66cdf0596de

[2015-11-04 22:51] gururise opened #205 "Divide by Zero when using Momersion"
When trying to use the Momersion indicator, I keep getting a Divide by Zero.  Seems to not matter what values I pick for the inputs to Momersion:

[code]

results in:

  at QuantConnect.Indicators.Momersion.ComputeNextValue (IReadOnlyWindow`1 window, QuantConnect.Indicators.IndicatorDataPoint input) [0x00000] in :0
  at QuantConnect.Indicators.WindowIndicator`1[QuantConnect.Indicators.IndicatorDat

[2015-11-04 23:52] gururise commented on #205
Sorry, saw this has been fixed in the latest commit!

[2015-11-04 23:52] #205 closed

[2015-11-07 17:04] #168 closed

[2015-11-13 14:10] tedpenner commented on #166
I'm new to programming in general and have not yet written my first strategy. The wheel just spins for me on the left of the page so I have been unable to use the platform. However, the ability to code in C# seems to have significant promise. The promise of Options support is incredibly exciting.

I have not seen anyone doing automated trading for options in as robust a way as this site appears th

[2015-11-21 17:51] pms1969 commented on #166
Not sure how much farther you are through this right now, but I can add some coding grunt to help get this done.  If you have a task that is relatively contained and you'd like done, I'd be happy to contribute.

[2015-11-21 19:44] AlexCatarino commented on #166
Thanks @pms1969 and all who wants to contribute.
Let me make an update, using Jared's post on October 21st: we have implemented BidSize, AskSize, IBar/Bar and part of QuoteBar (these are points 0, 4.5 and 4.6).
@mchandschuh is, as we speak, finishing `IContract` up. After this is done, we can code `OptionsContract` and have all the information we need these to code the app that will write the vend

[2015-11-22 03:50] jaredbroad commented on #166
Thank you Paul! We'd welcome your help and should make headway/ship the
OptionsContract type this week. We've been doing some tidy up on data and
universe selection :) As always thanks to @AlexCatarino & all the
contributors!

The "SID" / "Symbol" class will be our new way of uniquely identifying
securities inside the engine (vs strings). The new "SID" system can hold
all the option type data in a

[2015-11-23 13:31] AlexCatarino commented on #166
I had a look at those files (and other at the branch to learn more) and I don't think you overlooked anything. With that we have all we need to write the input files in Lean format.
Maybe we don't need the OptionContract to specify the option characteristics, but we still need a class to hold (and probably calculate) the greeks and implied volatility.

[2015-11-24 07:10] pms1969 commented on #166
Jared,  how do I supply feedback on the 2 classes?  And are you purely after logic feedback, or are you open to architectural input as well?

[2015-11-24 16:55] jaredbroad commented on #166
Hey Paul -- all of the above! :) Symbol is an enormous and powerful change
in LEAN, allowing complete, deterministic identification of assets with any
market, security type, issue date and ticker in a single class. We rewrote
hundreds of files to support the new change. This way we can specify
options expiry date, type and strike price with the symbol class. If we've
missed something architectural

[2015-11-24 18:51] pms1969 commented on #166
Found out how to do it.  Some comments already made.  I'll look at it further tomorrow.

[2015-11-24 21:50] tedpenner commented on #166
Very exciting!
On Nov 24, 2015 12:51 PM, "Paul Saunders" <notifications@github.com> wrote:

[2016-01-05 05:47] ethode opened #244 "Unable to find package 'MathNet.Filtering'."
I am using Xamarin on OSX.  I thought initially there was an issue with the reference, so I added the package manually using NuGet so I knew the package was installed, and I am still seeing this error trying to to update packages per the documentation for setting up on OSx

Thanks in advanced

[2016-01-05 20:06] jaredbroad commented on #244
Can you please give more details on the error? Which project is throwing this exception? Ideally a copy-paste/full build report from the console.

[2016-01-06 02:55] ethode commented on #244
This is not during build, it's while running "Update NuGet packages", per the readme instructions using Xamarin on OSx.  Thanks

[2016-01-06 02:59] ethode opened #245 "no suitable method found for AddSecurity(SecurityType,String,Resolution,String,boolean,int,boolean)"
While using the browser IDE (not the local install of lean) I am writing a Java algorithm, and seeing this error when adding a security:

no suitable method found for AddSecurity(SecurityType,String,Resolution,String,boolean,int,boolean)

The code for my method is as follows

`AddSecurity(SecurityType.wrap(SecurityType.Equity), stock.toString(), Resolution.wrap(Resolution.Minute),"usa", true, 2, f

[2016-01-06 03:52] mchandschuh commented on #245
The method expects a decimal type, not an integer. Maybe you can define
your leverage external to the method as a decimal and pass the variable in.

-Michael
On Jan 5, 2016 9:59 PM, "Joshua Holmes" <notifications@github.com> wrote:

[2016-01-06 04:33] ethode commented on #245
Java doesn't have decimal type, only BigDecimal.  Is there a specific project defined type "decimal" that I can use?  I took a look at QCAlgorithm which is a C# class that uses the .NET primitive decimal type to define the AddSecurity methods; I am not sure what's happening behind the scenes to provide conversion from Java to C# interpreter but BigDecimal doesn't give me the desired result either

[2016-01-06 18:50] nsampietro opened #247 "Live mode start exception"
Hi,  I wonder If anybody knows why I get this exception when I start Lean on "Live" mode.  Thanks.

ERROR:: ThreadHelper.ThreadStart_Context():  System.NotImplementedException: QuantConnect.Queues.LiveDataQueue has not implemented live data.
   at QuantConnect.Lean.Engine.DataFeeds.Queues.LiveDataQueue.Subscribe(LiveNodePacket job, IEnumerable`1 symbols) in C:\repos\Lean\Engine\DataFeeds\Q
ueues\D

[2016-01-06 19:32] jaredbroad commented on #247
You need to specify a source for live data. You can see the google group for discussion on using Interactive Brokers as the live data source or you need to code an IDataQueueHandler implementation to your own source. (see here https://groups.google.com/forum/#!topic/lean-engine/W_f9hDNoHIs)

[2016-01-06 19:32] #247 closed

[2016-01-09 23:48] jaredbroad commented on #245
@ethode we use IKVM for converting our C# base class (QCAlgorithm) into a Java jar file - I'm not certain what you'll need but maybe that information will get you pointed in the right direction! Please post back if you find the solution! IKVM has wrapper methods for the enums, maybe it has wrappers for decimals as well?

[2016-01-10 00:21] mchandschuh commented on #245
You may be able to do 'new System.Decimal(2)'

-Michael
On Jan 9, 2016 6:48 PM, "Jared" <notifications@github.com> wrote:

[2016-01-21 18:13] cub- opened #254 "Interactive brokers GetOpenOrder() Error"
Hi everyone,
When I connect Lean to IB, I had this error: InteractiveBrokersBrokerage.GetOpenOrdes(): operation took longer than 15 seconds. My ClientID was set to 0.

The error is regardless of whether I really have any open/unfilled order in TWS or not. If it can't retrieve order info, the brokerageSetUpHandler won't set up either. Supposedly, if I call "reqOpenOrder()" in TWS API demo, it shoul

[2016-01-22 01:01] mchandschuh commented on #254
Hey @cub-, what O/S are you running? We've seen an issue in Linux with similar symptoms, the GetOpenOrders call fails periodically. This seemed to be a hit or miss occasion, and not failing reliably. Does yours fail reliably?

Could you share your logs? Please strip out an sensitive information first though! If you can share, please send them to michael@quantconnect.com.

[2016-01-22 03:24] cub- commented on #254
Yep, just sent you the log. @mchandschuh  I'm on win 8. In may case GetOpenOrders() fails reliably. The issue happens with Krs so far.

[2016-01-22 20:02] pablomarin opened #255 "NxCore Data Source - Live Trading"
Guys,

I want to start contributing to the code. I would like to start by creating the NxCore Data source for live trading.
Can you please tell me everything I need to start the coding process? I know that normally documentation is behind the repository, so i don't want to rely on the documentation 100%.

Looking forward to your answer.

[2016-01-23 18:07] jaredbroad commented on #255
Hi @pablomarin, thankfully this is reasonably simple to do for live-only support:

You would need to implement an IDataQueueHandler, and specify it in the configuration to be used. This type demonstrated in these types: the [Interface](https://github.com/QuantConnect/Lean/blob/master/Common/Interfaces/IDataQueueHandler.cs#L34), and here's an example of it implemented with the [FXCM API](https://gi

[2016-02-03 23:39] jaredbroad commented on #96
Implemented in 2015

[2016-02-03 23:39] #96 closed

[2016-02-04 00:00] jaredbroad commented on #19
Closed in #78e12d7fe78cd87ff2e9ea67b71a7b965e64929c

[2016-02-04 00:00] #19 closed

[2016-02-04 00:01] jaredbroad commented on #146
Closed in #ca42829

[2016-02-04 00:01] #146 closed

[2016-02-04 00:03] jaredbroad opened #264 "IQFeed IDataQueueHandler"
Create an IQFeed implementation of IDataQueueHandler for local live trading.

Can use https://sentineliqf.codeplex.com as a starting point, but this code is fairly old and messy so probably worth a re-write.

[2016-02-04 00:06] jaredbroad opened #265 "IQFeed IHistoryProvider"
Create an IQFeed IHistoryProvider to allow using IQFeed locally with LEAN.

Maybe link implementation with this base class:
https://github.com/QuantConnect/Lean/issues/264

[2016-02-04 01:13] jaredbroad commented on #109
Completed in d8d6add

[2016-02-04 01:13] #109 closed

[2016-02-04 01:14] jaredbroad commented on #137
Completed in #293fc12

[2016-02-04 01:14] #137 closed

[2016-02-04 01:15] jaredbroad commented on #104
Closed in Pull #261

[2016-02-04 01:15] #104 closed

[2016-02-04 01:18] jaredbroad commented on #14
Hey @xenu256 will close this as almost a year old, but if MQ4 data is still of interest please submit a new issue.

[2016-02-04 01:18] #14 closed

[2016-02-04 01:26] jaredbroad commented on #244
Perhaps seems like a Nuget issue @ethode? Please try with a fresh build of LEAN and re-trying without manually adding the reference. You might need to set Nuget to allow alpha packages somehow.

Closing for now for inactivity.

[2016-02-04 01:26] #244 closed

[2016-02-04 01:42] bizcad commented on #264
Great idea.  @AlexCatarino If I can help let me know.  I almost signed up for Kinetick this week, but IQ looks better.  I am also looking forward to the nanex.  Great feeds breed great trading.

[2016-02-04 03:07] jaredbroad commented on #56
Completed in #e1938ba

[2016-02-04 03:07] #56 closed

[2016-02-04 03:08] jaredbroad commented on #245
Closing for lack of activity. If you think there's still an issue and new System.Decimal() doesn't fix it please reopen the issue.

[2016-02-04 03:08] #245 closed

[2016-02-04 12:13] AlexCatarino commented on #264
@bizcad, thanks. As soon as I get to this issue (it's 3rd in my priority list right now), I will evaluate and seek for your help.

[2016-02-05 02:59] jaredbroad opened #269 "Allow SetRuntimeStatistic in Backtesting"
In backtesting runtime stats can be helpful as general senses of values being produced. Allow setting the runtime stats and then outputting them once every few seconds in the result handlers.

[2016-02-08 19:21] #95 closed

[2016-02-09 11:34] element6 opened #279 "Unable to build python on Mac with Mono"
Hi,

Thanks for a great open source initiative. While trying to build the python project, I got this error:

/Library/Frameworks/Mono.framework/Versions/4.2.2/lib/mono/4.5/Microsoft.Common.targets: Error: Command 'build' exited with code: 127. (QuantConnect.Algorithm.Python)

I am not sure if this is related, but my reference to Microsoft.Scripting has a cross next to it and the error is "Assembly

[2016-02-09 15:48] jaredbroad commented on #279
Hey @element6, make sure you read the readme.md file for the python project: https://github.com/QuantConnect/Lean/blob/master/Algorithm.Python/readme.md

Python requires calling build.sh and installing IronPython separately to LEAN.

If you don't need the python project you can disable it by removing it from the solution.

[2016-02-09 21:18] element6 commented on #279
Thanks Jared. The build.sh does create a dll file. I enabled python because I want to use python. Is it ready for production use?

anyway, I add the python dll to Launcher's References and got this error. "could not locate 'main' module. Please make sure you have a main.py file in your project.: try re-building algorithm"

Loaded assembly: /Users/cheng/git/Lean/Launcher/bin/Debug/QuantConnect.Lean

[2016-02-09 21:39] #70 closed

[2016-02-11 15:55] AlexCatarino commented on #279
Hi @element6.

I made a PR that fix this problem in Windows. Since I don't have a Mac, I tried to check if this fix works on Linux (it's all Mono, so it should be the same), but I couldn't run Lean on Ubuntu 15.10...
You don't need to wait this PR to be merged to make it work, because it's quite simple. Eliminate the following line:
`clr.AddReference("QuantConnect.Interfaces")`

I think that as we

[2016-02-12 16:51] #108 closed

[2016-02-12 21:25] jaredbroad commented on #279
Closed in #279

[2016-02-12 21:25] #279 closed

[2016-02-16 18:23] lurium commented on #166
Is there a separate branch for the options support?  I can probably offer some advice, as I've built a few options trading systems....

[2016-02-18 00:10] mchandschuh commented on #203
Closed via #250

[2016-02-18 00:10] #203 closed

[2016-02-18 00:11] mchandschuh commented on #174
This has already been completed.

[2016-02-18 00:11] #174 closed

[2016-02-25 02:44] mchandschuh commented on #166
@lurium -The options branch will be coming shortly, trying to get a first rev working!

@AlexCatarino, @glyphard, et all: Any ideas what kinds of input data do options models require? Ideally we can set the system up to be flexible to support as many different models as possible.

[2016-02-25 14:34] AlexCatarino commented on #166
Options models need, at least, three "submodels": volatility model, interest rate model and dividends yield model.
The simplest volatility model doesn't need data: the trader would assume a constant volatility. Another volatility model (the one we will probably implement as default), takes the underlying price, the information about the option contract and its price, and yields the implied volatil

[2016-02-25 15:21] mchandschuh commented on #166
@AlexCatarino - does it make sense for us to provide these abstractions? For example, should we have an `IOptionVolatilityModel`, `IInterestRateModel`, `IDividendYieldModel` ? Or should we keep it more generally as an `IOptionPriceModel` and allow the model internally to use the submodels?
Or maybe it makes sense that an `IOptionPriceModel` would use the volatility/interest rate/div yield models?

[2016-02-25 15:44] lurium commented on #166
Agree on two of the models-- Vol, and Rate.

However, instead of Divs, it might be simpler and more general to provide a
"IForwardModel," which is really what the Divs and Rates are trying to
accomplish in the case of equity and equity index options.  For
commodities, the forwards are usually derived directly from some function
of the future prices.  For Vol Futures (VX), it's a more complex
deriv

[2016-02-25 18:20] AlexCatarino commented on #166
Thanks for the suggestion, @lurium!
I think we should have a `IOptionPricingModel` that would be internally use the submodels (`IOptionVolatilityModel`, `IInterestRateModel` and `IForwardModel`). If the `OptionPricingModel` has a constructor that takes `IOptionVolatilityModel`, `IInterestRateModel`, `IForwardModel`, the quant would be able to use his own proprietary model(s). That's the goal.

[2016-02-25 18:55] lurium commented on #166
Sounds good.

[2016-02-25 20:33] AlexCatarino commented on #166
I wonder if the volatility model interface should not be named `IVolatilityModel`. After all, the underlying volatility will be modeled, not the option volatility.

By the way, the volatility model can live outside the derivatives world, since its output can be used as an indicator (`if (vol>0.5) TrendFollow(); else MeanRevert();`) and/or allocation parameter.

[2016-02-25 20:56] mchandschuh commented on #166
@AlexCatarino - good point, maybe it lives on the underlying `Security` object as just another model. What would a 'default' `IVolatilityModel` look like?

[2016-02-25 20:57] mchandschuh commented on #166
@AlexCatarino - Also, how important is running daily volume for options price models?

[2016-02-25 21:08] lurium commented on #166
Not very, although if you have Open Interest, that's somewhat useful -- not
to derive theoretical values or greeks, but to understand the supply and
demand and dealer inventory considerations

On Thu, Feb 25, 2016 at 3:57 PM, Michael <notifications@github.com> wrote:

[2016-02-25 21:21] rbohac commented on #166
I agree that open interest is particularly useful along with the bid/ask spread for liquidity

[2016-02-25 21:51] glyphard commented on #166
IOptionPricingModel Approach makes sense to me as well.  the mechanics of
where the actual data inputs for the vol/dividend would come from are a
little less clear since they are time varying at different scales.  For
instance depending on which submodel you choose, dividends can be discrete
events, and vol changes tick by tick.  OR dividends are steady/annual or
quarterly rate based, and vol is u

[2016-02-25 23:02] mchandschuh commented on #166
Here's some initial implementation for [options](https://github.com/QuantConnect/Lean/tree/options)!

[2016-02-25 23:52] jaredbroad commented on #269
Completed in #ea16c1b9a8fdbe78eff5d512b818e761085fc123

[2016-02-25 23:52] #269 closed

[2016-02-26 18:38] AlexCatarino commented on #166
I've been thinking about what a 'default' `IVolatilityModel` would look like.
Say that the 'default' would calculate Implied Volatility using Black-Scholes Model.
The volatility model would start with a seed value for sigma (volatility), then a `Compute`/`Estimate`/`Fit` method would call the BSM method (input parameter: `double sigma`, returns `decimal optionPrice`) until the value of sigma is cl

[2016-02-26 19:13] lurium commented on #166
I might have missed some of this thread but:

Most of the options we will likely deal with on QC will be American
exercise, so BSM isn't the best choice.

What you want is a Binomial Tree for stock options and the Whaley Model for
most American commodity futures options.

Codewise the you can just iterate as you mentioned, but a nice optimization
is to use the vega (even the BSM vega as it's cheap

[2016-02-26 19:44] jaredbroad commented on #166
@lurium - The point of the thread is mostly to seek feedback on architecture plans / designs - to ensure we fully support the various ways people want to use options. This also applies the API / how people want to access the option data.

e.g. Discussing various model implementations is important so we understand the data required to calculate these models. This way we can make sure LEAN supports

[2016-02-26 20:47] lurium commented on #166
Ok, then you want something like this.

Black-Scholes: European Exercise -- Indexes SPX, VIX, weeklies at the CME
Whaley: American Exercise -- Indexes with Continuous Divs or Commodities (Gold, Oil at the CME, etc)
Binomial-Tree: American Exercise -- Stock options with discrete divs (MSFT, SPY, etc)

Essentially you have to gather or somehow discover information about both the underlying contract

[2016-02-26 20:50] lurium commented on #166
I should also note that there are quite a few other option models, especially for fixed income and spot-forex, but these Big 3 will get you a long way.  The inputs are very similar. I could probably point the thread to some decent implementations if you guys are interested.

[2016-03-05 18:32] pushnyakov commented on #244
Hello everyone!
It is a problem with xamarin studio!
You just need to use release mode or install MathNet.Filtering manually by downloading it from nuget website.

[2016-03-15 22:03] jaredbroad opened #330 "Make Order Quantity Fractional"
Order quantity is currently an int. Change it to be a decimal.

The change will be fairly extensive covering API methods and brokerage implementations.

[2016-03-16 13:10] lithast opened #331 "Make indicators work with Renko bars"
A large number of the indicators derive from TradeBarIndicator (IndicatorBase<TradeBar>) even though they can just as easily be applied to RenkoBar. The common properties required are Open, High, Low, Close and in some cases Volume. Time is provided on BaseData.

I have explored 3 options so far to achieve this:

1. Create a common Interface across both of them with the required properties. This i

[2016-03-16 20:27] StefanoRaggi commented on #331
@lithast I think there may be a fourth option:

4. Derive `RenkoBar` from `TradeBar` (removing `Open`, `High`, `Low`, `Close`, `Volume` and `End `properties from `RenkoBar`). This way all indicators deriving from `TradeBarIndicator `can be used with `RenkoBar`.

[2016-03-16 21:38] lithast commented on #331
Ah yep. I looked into that approach and discounted it because I thought you guys would not go for it. The potential issues I ran into are:

1. TradeBar has a public Period property that does not apply to RenkoBar and would always have the default value of 1minute, which doesn't do anything. I could make that virtual and override it in RenkoBar with a NotSupportedException but that seemed less than

[2016-03-16 21:43] mchandschuh commented on #331
It's a shame the `IBar` interface doesn't have a `Volume` property. If it did (or some other abstraction?) then we could change `TradeBarIndicator` to just:
[code]
... or something similar.

[2016-03-16 21:59] lithast commented on #331
One thing I found a little confusing when looking into this was the Bar/IBar/QuoteBar side of things is quite disconnected from the TradeBar/RenkoBar side and it looks like IBar/Bar is only really used internally within QuoteBar and it's consolidator.

That's a great idea though, that approach might end up being the cleanest solution, I'll look into it further, thanks.

[2016-03-16 22:13] mchandschuh commented on #331
`TradeBar` does implement the `IBar` interface [here](https://github.com/QuantConnect/Lean/blob/master/Common/Data/Market/TradeBar.cs#L29). We should probably update the `RenkoBar` to implement this interface as well.

[2016-03-16 23:29] lithast commented on #331
Ok, leave it with me. I'll send a pull request in a day or two.

[2016-03-17 12:52] lithast commented on #331
Looked into it further and ran into the same problem as I hit with #1 in my original post.

If I make an interface:
`public interface IVolumeBar : IBar, IBaseData
    {
        long Volume
        {
            get;
        }
    }`

And then try and apply it everywhere I hit a couple of problems.

1. The example above with `BarIndicator<T>` would require two implementations of the Indicator, one

[2016-04-04 16:59] jaredbroad opened #371 "Next Brokerage Implementation"
Import brokerage API for TDAmeritrade (perhaps https://github.com/kriasoft/TDAmeritrade) and implement a QC IBrokerage

[2016-04-05 15:15] jameschch commented on #371
I had a quick look at  [https://github.com/kriasoft/TDAmeritrade](https://github.com/kriasoft/TDAmeritrade) and it looks like it lacks make order implementation. If the order fills are via REST it may be a pain.

Was trying to find some api docs then came across [this](http://www.programmableweb.com/news/td-ameritrade-and-1-api-only-half-millionaires/2013/01/24) ...and am not sure they even let yo

[2016-04-06 21:30] jaredbroad opened #372 "Add Extensions to Short Cut Composite Indicators"
Composite indicators provide a nice way of chaining indicators but they can be confusing to use sometimes. A couple of well written extension methods would help cover 90% of use cases: specifically:

[code]

[2016-04-08 17:08] jaredbroad opened #373 "Custom Data Sourcing Emitting Erradically"
Quandl sources are emitting unpredictably when there are multiple streams together.

Potentially FastForwardEnumerator's check against 'past data' doesn't include the equal case? So that 1 1/2 hours might be a function of the 30min max interval he refreshes at, and then its just emitting the same point over and over again. The enumerator stack is here (https://github.com/QuantConnect/Lean/blob/opt

[2016-04-12 14:57] AlexCatarino commented on #85
Hi @bizcad, if you don't have the time, I could take a look at this indicator.
After we have all the "TA-Lib" indicators on Lean, I think, the natural move would be to implement "exotic" indicators like "Ehler's".

[2016-04-12 22:54] bizcad commented on #85
@Alex  I have it already done as both Fisher and InverseFisher.  I do not have tests for them however.
[FisherTransform.zip](https://github.com/QuantConnect/Lean/files/216094/FisherTransform.zip)

If this link does not work contact me at nicholasstein@cox.net

[2016-04-16 07:11] mellertson commented on #372
Hi Jared, quick question.  It seems to me like the last line:

    `_adx = ADX(_symbol, 30).SMA(10);`

should be returning an SMA object instead of an ADX object, because the end result of the first three lines seems to be an SMA of the ADX data.  Is my understanding correct?

[2016-04-16 19:03] jaredbroad commented on #372
Yes exactly! The resulting obect should be the SMA of the ADX. It was
intended to wrap the .Of operator into something more intuative.
On Apr 16, 2016 3:11 AM, "Mike" <notifications@github.com> wrote:

[2016-04-16 19:48] mellertson commented on #372
Great, thanks!

[2016-04-17 18:50] pnguyen30 commented on #371
Obtaining access to TD Ameritrade API has some hefty requirements.  I believe TD Ameritrade requires a minimum account balance ($150k+).  I doubt most users will have an easy time getting access to the API.  Been using Lean for quite some time now, just joined GitHub so that I can give back a little bit since I've been using your engine.

[2016-04-19 20:10] jaredbroad commented on #178
Completed in commit #937b5cb7

[2016-04-19 20:10] #178 closed

[2016-04-20 00:03] jaredbroad commented on #85
Completed by #569d5af

[2016-04-20 00:03] #85 closed

[2016-04-20 15:07] jaredbroad commented on #265
Completed in PR #89bb637

[2016-04-20 15:07] #265 closed

[2016-04-20 15:07] jaredbroad commented on #264
Closed by #89bb637

[2016-04-20 15:07] #264 closed

[2016-04-20 15:09] jaredbroad commented on #371
@pnguyen30 - Great point thank you. I assumed they'd let LEAN connect as an organization and hopefully give all its users access under the same banner.

What should be the next major brokerage we connect with?

[2016-04-20 15:20] jaredbroad commented on #179
Closed by commit #31df99945

[2016-04-20 15:20] #179 closed

[2016-04-20 18:00] #373 closed

[2016-04-21 16:16] jaredbroad opened #383 "Ensure Indicators Always Receive Adjusted Data"
Indicators work best with smooth, fully adjusted data. When working with Raw or SplitOnly, DividendOnly adjusted data there are discontinuous jumps which break indicators.

This can be easily fixed by converting the data which goes into the indicator update manager and ensuring the data is always the fully adjusted version of the data (and if its already adjusted, as by default, then do nothing).

[2016-04-21 22:49] jaredbroad commented on #75
Completed by commit 32770af

[2016-04-21 22:49] #75 closed

[2016-04-22 00:33] jaredbroad opened #386 "SetHoldings() Use Minimum Asset Lot Size"
Some assets like FX require orders to be in minimum lot sizes of X, e.g. FXCM minimum order size is 1000. The SetHoldings() function could be made smarter to round the order to the nearest order fraction for the requested asset. The rounding quantity could be stored in the symbol-properties-database.csv and stored in the SymbolProperties class.

[2016-04-22 02:42] rbohac commented on #386
Couple of ideas
1) Have the new service interface check for this
2) Have backtests fail based on this as well
May not make sense if `SetHoldings()` forces them to compliance anyway but could be useful for `Order()`

[2016-04-22 03:15] jaredbroad commented on #386
If the algorithm sets a brokerage model it should fail in backtesting as
well for order methods (default brokerage could support units of 1 to avoid
giving everyone errors). Each brokerage/currency pair set have different
minimum lots too it lends itself to the symbol properties database (e.g.
guess 10000 yen for usdyen, 1000usd for eurusd)
On Apr 21, 2016 10:42 PM, "Ray Bohac" <notifications@gith

[2016-04-22 12:28] lithast opened #387 "PopulateDataDictionaries in TimeSlice is duplicating ticks"
I put some trip wires into my application to to catch issues I was having with out of order data merging live and historical ticks (unrelated). I noticed something else quite strange when I fixed the original issue. The trip wire was firing while loading historical data from the History Provider. I'm getting each tick in my data file repeated twice. Tracked it down to `PopulateDataDictionaries` in

[2016-04-22 14:55] jaredbroad commented on #387
Great catch @lithast! Please submit a PR and we'll merge it into master.

[2016-04-22 15:03] jaredbroad commented on #387
+ An extra 10 bonus points if you submit a test with the PR :) /Tests/Engine/DataFeeds/TimeSliceTests.cs

[2016-04-22 15:42] pnguyen30 commented on #371
There has been quite a bit of hype with Robinhood lately, but there seem to be quite a few restrictions on how often one can buy/sell with them, so I'm not too keen on Robinhood integration.  If TD Ameritrade doesn't work out, Perhaps E-Trade might be a great brokerage to integrate with.

[2016-04-22 16:26] lithast commented on #387
Well now, can't be leaving points on the table. I'll take a look at it tomorrow :)

[2016-04-22 20:48] bizcad commented on #371
I cannot recommend Robinhood for QuantConnect.

I have a Robinhood account.
1.  Robinhood has an api.  I signed up to get access to it, but they have not heard back yet.
2.  They do not have margin accounts yet, so you are stuck with a cash account.  That means that you have to wait for 3 days for the funds to settle.
3.  So far they only support US stocks, which are all T-3.
4.  They do have a fe

[2016-04-24 00:54] jaredbroad commented on #371
Good to know thanks @bizcad

[2016-04-25 15:18] jaredbroad commented on #387
Fixed by 36f3ef8

[2016-04-25 15:18] #387 closed

[2016-04-25 15:22] jaredbroad opened #391 "Realistic Fills for Low Volume Assets"
Currently its possible in backtests to place large orders on very low volume assets, as the default models simple fill at the last traded price. We should update LEAN to either:
- Have realistic fills which factor in volume (difficult without order book data)
- Block fills which account for more than x% of the daily volume.

Are there good models for trade-only data which can approximate the book

[2016-04-26 19:10] jaredbroad commented on #84
Only remaining indicators are; some remaining because they require stock data from two input assets (pattern not supported by default indicator framework at the moment)
 - BETA
 - CORREL
 - HT
 - LINREG
 - MAMA
 - FAMA
 - SAREXT
 - STOCHRSI
 - TSF

[2016-04-26 19:12] mchandschuh commented on #84
You should be able to use multiple data sources using the composite
indicator. Have a look at the math extensions (such as Over() ).
On Apr 26, 2016 3:10 PM, "Jared" <notifications@github.com> wrote:

[2016-05-05 16:34] jaredbroad commented on #372
Completed by c47eb47

[2016-05-05 16:35] #372 closed

[2016-05-08 03:18] jaredbroad opened #398 "Int Oveflow in GenerateMarginCallOrder()"
Reported error int overflow in the GenerateMarginCallOrder() method.
Code to reproduce: https://www.quantconnect.com/forum/discussion/1150

[code]

[2016-05-08 15:52] jaredbroad opened #399 "MarketHoursDatabaseJson.Convert() - Invalid date format"
2016-05-04T12:09:45.2627427Z ERROR:: MarketHoursDatabaseJson.Convert(): System.FormatException: String was not recognized as a valid DateTime.
at System.DateTimeParse.ParseExact(String s, String format, DateTimeFormatInfo dtfi, DateTimeStyles style)

DateTime format not recognized for international users (Swedish user reported issue)

[2016-05-09 11:21] jameschch commented on #330
I've looked into this and just changing the order quantity is not necessarily very problematic. There are a few explicit variable declarations but apart from this, everything ties together with just a few field types. There should not be a great deal of breaking changes to algorithms, although I think some will be unavoidable.

If this is followed through, there will also need to be change to Tick

[2016-05-10 15:19] josefstr opened #400 "lean installation on linux"
I tried to install Lean on a linux system with the steps described on github, but it failed at step:
"xbuild build"

Lean (git)-[master] % xbuild build
XBuild Engine Version 12.0
Mono, Version 4.2.1.0
Copyright (C) 2005-2013 Various Mono authors
MSBUILD: error MSBUILD0000: Project file 'build' not found.

Is the build config missing?

[2016-05-10 17:36] jaredbroad commented on #400
Hi @josefstr I've updated the readme here, and updated the Sln file to not build Fsharp because it just had too many issues in mono compile. https://github.com/QuantConnect/Lean/blob/master/readme.md

Make sure you run the new Nuget process too -- (downloading nuget.exe and running it with mono).

[2016-05-10 17:36] #400 closed

[2016-05-16 16:20] jaredbroad commented on #399
From Peter:

[2016-05-16 22:00] jaredbroad commented on #399
Closed by fdc3efd

[2016-05-16 22:00] #399 closed

[2016-05-17 09:22] jameschch opened #408 "Create Algorithm Micro-Strategies and Templates"
I'm considering the usefulness of some algorithm micro-strategies that perform operations not directly related to indicators and trade signals, such as:

-Position Sizing/Risk Management (martingale, proportional to volatility, fixed amount/%, time interval limit)
-Entry Stategies (active/passive, maker/taker)
-Stop Loss/Take Profit: % of total portfolio, time elapsed, psar, arbitrary % profit

I'

[2016-05-17 16:16] jaredbroad commented on #408
Thanks @jameschch, we have something similar to this on the roadmap, but framed in a slightly different way. We called it the "execution engine" where users could provide plugin's for various execution choices.

I shared an algorithm in the QC University called "Algorithm Framework" which separated an algorithm into components for this purpose. We were thinking of making an Executor property in th

[2016-05-17 18:05] jaredbroad opened #410 "Local IB Always Rejecting Ticks"
Local interactive brokers data queue handler reported failing.

Reported fix is empty (Quantity 0) ticks causing IsValid() to reject the ticks.

Fix mentioned [here](https://groups.google.com/forum/#!msg/lean-engine/T44mb3TL3l4/Om4mvS-KBQAJ) - giving the ticks a quantity to pass the filter.

[2016-05-18 08:04] jameschch commented on #408
Excellent. I expected someone would have already considered this as I'm basically describing a higher level of abstraction over trade execution. I was planning to just add some high level utilities for my own reuse, so was thinking more at the level of plugins than additions to the core trading classes. I'll look closely at IExecutionEngine.

[2016-05-18 08:04] #408 closed

[2016-05-26 03:32] flatM commented on #244
Or run the following command to get MathNet.Filtering installed:

[2016-05-26 14:46] jaredbroad commented on #244
Thank you @flatM, we'll add it to the readme install steps.

On Wed, May 25, 2016 at 11:32 PM, flatM <notifications@github.com> wrote:

--
Jared Broad

[2016-06-07 23:35] jaredbroad commented on #410
Fixed

[2016-06-07 23:35] #410 closed

[2016-06-07 23:36] jaredbroad opened #419 "SPXL Delisting Instead of Mapping"
With map file:

20081105,bgu
20120628,bgu
20501231,spxl

The SPXL is delisting instead of mapping the symbol to its new file.

[2016-06-07 23:39] jaredbroad commented on #419
![2016-06-07 19_38_23-algorithmic trading platform - quantconnect com](https://cloud.githubusercontent.com/assets/2243225/15878250/75bef7be-2ce7-11e6-8438-4d44ed9cd663.png)

[code]

[2016-06-09 14:21] jaredbroad commented on #398
Resolved as issue with BRK.A data ticks

[2016-06-09 14:21] #398 closed

[2016-06-10 22:22] #419 closed

[2016-06-11 21:41] BradGessner commented on #371
Hi Jared,

I just came across this blog and wanted to let you know that I have C# code for TD Ameritrade API for orders, L1 quotes, history, news, etc.  It would be great to have a native data feed for QuantConnect.  I've attached the API docs and am happy to share the code with you if you're interested.  Let me know if I can help build a data connector.  Since I just joined QC, I'm still getting

[2016-06-11 22:36] jaredbroad commented on #371
Awesome! Welcome @BradGessner! :) TD seems to have very high minimums to use the API putting out out of the reach of individuals, but would be helpful for hedgefunds. I'd be happy to help you implement an IBrokerage + IDataQueueHandler -- shoot me an email jared@quantconnect.com and we can setup a time to chat.

[2016-06-13 13:29] jameschch commented on #371
Hi @BradGessner, I have a mostly complete IBrokerage integration waiting in the wings and a second in the pipeline. Would be great to share stories and advice on this.

[2016-06-15 12:24] jameschch opened #428 "Pushing cash balance updates from IBrokerage"
It may be this is already possible, in which case, would appreciate someone pointing this out. It would be really useful to be able to push cash balance updates from the brokerage to the algorithm. Currently cash balances are only updated on initialization and on a daily schedule as far as I can tell.

My use case on Bitfinex:

1. I have USD from a BTCUSD leveraged trade in trading wallet.
2. I tr

[2016-06-15 14:12] jaredbroad commented on #428
Correct we currently re-sync each day - which was intended to catch small differences like fees / interest (not large ones like withdrawals). To handle your use case we need "journal entry" events exposed by the brokerage via an event handler -- and having the BTH bind to the brokerage journal event - and trigger a cash sync when there's a cash movement.

The issue we found was syncing too often c

[2016-06-15 14:28] jameschch commented on #428
Thanks. This makes sense. I noticed the defensiveness around the calls to PerformCashSync with relation to fills. Could this be implemented generally and then enabled on a brokerage by brokerage basis, perhaps as part for the BrokerageModel? I get the feeling you don't think this would be of great utility to any other brokerages.

[2016-06-15 14:49] jaredbroad commented on #428
It would be of great utility! We just need to make sure it doesn't break existing behavior :)

[2016-06-15 14:54] jameschch commented on #428
Right. I will look into this. For an event drive approach I would follow the pattern of Brokerage.OnOrderEvent.

[2016-06-16 11:13] jameschch commented on #428
The code to do this is just commented out in BrokerageTransactionHandler.HandleAccountChanged. Will just add a clause with IBrokerkageModel.AllowAccountUpdates

[2016-06-20 22:06] museyoucoulduse opened #439 "Dockerize it"
If Lean could be dockerized, it would be great. I can provide you with basic `Docker` file, but it is not the way it should be done.

What I think is that there should be some interaction with the Lean platform from outside the container, making it possible to use your own strategies.

Maybe using `config.json` and by mounting in a local directory with strategy? That way the end user will have no

[2016-06-20 22:14] jaredbroad commented on #439
Welcome @museyoucoulduse, not sure I understand your use case -- can you describe it more?

We're tidying up the API classes now and will provide a fuller implementations for running algorithms via API (backtest and live) on quantconnect.com.  A docker file for users to run LEAN locally for their personal use or a hedge-fund use would be helpful to many people.

[2016-06-21 02:29] museyoucoulduse opened #441 "Can't build in Xamarin Studio on OS X"
When using `Xamarin Studio` I can't build `Lean`. What I have done to this point?

- Install mono and xamarin studio
- Restore packages
- Update packages
- Unload F#, Java, Python, VB projects...

The output:
[code]

I have installed unofficial.ionic.zip with no success....

I think this is relevant part `The type or namespace name 'Zip' does not exist in the namespace 'Ionic'.`

This is the code

[2016-06-21 10:09] museyoucoulduse commented on #441
I had to manually add reference to `DotNetZip` in `Engine` project and disable `Tests` project to successfully build solution.

[2016-06-21 10:09] #441 closed

[2016-06-21 14:54] jaredbroad commented on #386
Closed by 380b0b4

[2016-06-21 14:54] #386 closed

[2016-06-21 14:54] jaredbroad commented on #439
Closed by commit a7f85b9

[2016-06-21 14:54] #439 closed

[2016-06-21 14:55] jaredbroad commented on #254
Closing - could not repeat // probably old TWS bug.

[2016-06-21 14:55] #254 closed

[2016-06-24 09:30] #428 closed

[2016-06-27 19:59] AlexCatarino commented on #383
Where should the data be adjusted (if it is not already)?
At [Algorithm](https://github.com/QuantConnect/Lean/blob/master/Algorithm/QCAlgorithm.Indicators.cs#L1151) or [Indicator](https://github.com/QuantConnect/Lean/blob/master/Indicators/IndicatorBase.cs#L75) level?

[2016-06-28 21:29] jaredbroad opened #447 "RAM Usage in Linux"
RAM usage in windows is very very low; backtesting 400 symbols uses roughly 30MB as it streams off the disk and only holds a small fraction of data in memory. But for some reason linux usage shows much higher usage on the magnitude of the data used.

Potentially linux file-memory caching is holding the old data files in ram and this is counting against the ram usage of the application? Perhaps the

[2016-06-30 10:25] ChrisFagan opened #450 "git development workflow for documentation"
Hi,
Is there a git development workflow for documentation e.g. submitting a “Newbie backtesting-desktop setup”
Regards, chris

[2016-06-30 13:25] jaredbroad commented on #450
Hey! We have the contributing guide here:
https://github.com/QuantConnect/Lean/blob/master/CONTRIBUTING.md

On Thu, Jun 30, 2016 at 6:26 AM, ChrisFagan <notifications@github.com>
wrote:

--
Jared Broad

www.quantconnect.com
Phone-USA: +1 917 327 0556
*Democratizing Finance, Empowering Individuals*
Facebook <http://www.facebook.com/QuantConnect> | Twitter
<https://twitter.com/#!/QuantConnect> | Lin

[2016-06-30 15:24] #450 closed

[2016-07-01 02:08] ChrisFagan commented on #450
Thx - I read the doc -- its primarily about code submissions.
Do you want to take "user" documentation submissions through Lean/Document ?
And if so what format makes the "puller's" job easier?
Regards, chris

[2016-07-04 03:58] gaoxiaojun opened #452 "Add .Net Core Support"
Microsoft has been released .Net Core 1.0.0 and SDK Preview2,

[2016-07-04 04:18] jaredbroad commented on #452
Thanks @gaoxiaojun! Do you mind giving an example use case to use it in LEAN?

[2016-07-05 15:23] jaredbroad commented on #450
Ah great idea, documentation PR's welcome. For Github its probably best to
submit in md format,

We have "https://lean.quantconnect.com" but the tutorials section is
lacking,

Best,
Jared

On Thu, Jun 30, 2016 at 10:08 PM, ChrisFagan <notifications@github.com>
wrote:

--
Jared Broad

[2016-07-05 18:06] jasonnator commented on #450
Why not go all out and use sandcastle?

[2016-07-05 18:09] jaredbroad commented on #450
We chose DocumentX instead by InnovaSys. You can see it here:
https://www.quantconnect.com/lean/docs#topic14.html

We think its better and easier to maintain than SandCastle + is supported.

[2016-07-05 23:11] devalkeralia opened #453 "GBPJPY currency conversion data feed not resolved"
GBPJPY: requires JPY to have a non-zero conversion rate. This can be caused by lack of data.

[2016-07-05 23:53] mchandschuh commented on #453
This happens when LEAN can't locate GBPJPY data, which it needs as a
conversion feed in order to value holdings in units of the account
currency. What's your account currency? Do you have GBPJPY data?

-Michael
On Jul 5, 2016 7:12 PM, "devalkeralia" <notifications@github.com> wrote:

GBPJPY: requires JPY to have a non-zero conversion rate. This can be caused
by lack of data.

—
You are receiving t

[2016-07-06 02:48] jaredbroad commented on #453
It is actually broken, previously the default quote currency was forcibly
set to the cash currency; now with the updated symbol properties database
having lots sizes it uses the real GBPUSD USD quote currency - and the the
security never gets created because the symbol properties quote currency
isnt equal to the symbol value quote currency and then it throws these
errors! Deval and I were tracing

[2016-07-06 14:12] AlexCatarino opened #454 "RollingWindow in LiveMode"
Using rolling window in live mode, we observe the following bug:

- We add a new bar (bold) to the rolling window indicator (columns are bar open time, price, open, high, low and close, respectively):

**06/07/2016 08:25:00 1.10831** 1.10825 1.1084 1.10791 1.**10831**
06/07/2016 08:24:00 1.10834 1.10821 1.10828 1.10802 1.10834
06/07/2016 08:23:00 1.10817 1.10829 1.1083 1.10809 1.10817

- In the fo

[2016-07-06 21:30] jaredbroad commented on #453
Fixed by commit 184f799

[2016-07-06 21:30] #453 closed

[2016-07-06 22:54] jaredbroad opened #456 "Tweak ConsoleSetupHandler loader to be more user friendly."
ConsoleSetupHandler searches for the algorithm name using a simple function.
https://github.com/QuantConnect/Lean/blob/31df999452f32490fcd1901edb2abf5990662e5c/Engine/Setup/ConsoleSetupHandler.cs#L92

If it can't find the algorithm name it dies with:
[code]

This should be made more user friendly so new users know they have specified the wrong algorithm name in the config file.

[2016-07-07 01:23] jaredbroad opened #457 "Lot size rounding orders to 0, then submitting 0-quantity orders."
Issue when submitting an order with quantity less than the lot size; then its rounded to 0 after the sanity checks. Then the 0-quantity order is submitted.

E.g. FXCM lot size 1k, submit order for 200 EUR, rounded to 0 but submitted anyway (and changed fees)

Should probably perform a non-zero check after rounding the order; &/or; round the lot size earlier in the process and check it still passes

[2016-07-07 08:25] MoreDough opened #458 "Daily chart data in BacktestResultPacket begin one day before PeriodStart"
Daily chart data for series "Benchmark" and "Daily Performance", but not for "Equity", begin one day before PeriodStart when all timestamps are adjusted -5h from UTC to America/New_York.

Chart data for "Benchmark" and "Daily Performance" seem to fit data in Spy.csv, but starts one day before PeriodStart. The difference between the series is because in AlgorithmManager.Run() "Benchmark" and "Daily

[2016-07-07 08:29] MoreDough opened #459 "Daily chart data in BacktestResultPacket ends one day after PeriodFinish"
Daily chart data for "Benchmark", "Daily Performance" and "Equity" ends one day after PeriodFinish.

To replicate this error: run local backtest with BasicTemplateAlgorithm and in method LeanWinForms.MessagingOnBacktestResultEvent() create a data dump after
first line "if (packet.Progress != 1) return;"

The data dump can use the following code to adjust from UTC to America/New_York:
var tz = Date

[2016-07-07 08:33] MoreDough opened #460 "Daily data in BacktestResultPacket for series "Equity" is shifted one day forward"
Daily data in BacktestResultPacket for series "Equity" is shifted one day forward compared to series "Benchmark" and "Daily Performance" when all timestamps are adjusted -5h from UTC to America/New_York.

Series "Benchmark" and "Daily Performance" seem to fit data in file spy.csv, "Equity" is shifted compared to data file.

The difference between the series is because  "Benchmark" and "Daily Perfo

[2016-07-07 08:38] MoreDough opened #461 "Daily chart data in BacktestResultPacket for series "Equity" contains 6 days per week"
If timestamps for "Equity" are corrected so data for the series is no longer shifted compared to "Benchmark" and "Daily Performance" (see Issue #460), then the extra day is a sunday where the data value is identical to the value of the previous day with data in the datafile.

To replicate this error: run local backtest with BasicTemplateAlgorithm and in method LeanWinForms.MessagingOnBacktestResul

[2016-07-07 08:43] MoreDough opened #462 "Daily Data in BacktestResultPacket for Series "Equity" has 2 identical data points for each day"
To replicate this error: run local backtest with BasicTemplateAlgorithm and daily data for SPY and in method LeanWinForms.MessagingOnBacktestResultEvent() create a data dump after
first line "if (packet.Progress != 1) return;"

The data dump can use the following code to adjust from UTC to America/New_York:
var tz = DateTimeZoneProviders.Tzdb["America/New_York"];
var localTimeKeeper = new LocalTim